[Desktop Entry]
Name=Color
Name[af]=Kleur
Name[an]=Color
Name[ar]=الألوان
Name[as]=ৰঙ
Name[ast]=Color
Name[be]=Колер
Name[bg]=Цвят
Name[bn_IN]=রঙ
Name[br]=Liv
Name[ca]=Color
Name[ca@valencia]=Color
Name[crh]=Tüs
Name[cs]=Barvy
Name[da]=Farver
Name[de]=Farbe
Name[el]=Χρώμα
Name[en_GB]=Colour
Name[eo]=Koloro
Name[es]=Color
Name[et]=Värvid
Name[eu]=Kolorea
Name[fa]=رنگ
Name[fi]=Värit
Name[fr]=Couleur
Name[ga]=Dath
Name[gl]=Cor
Name[gu]=રંગ
Name[he]=צבע
Name[hi]=रंग
Name[hu]=Színek
Name[id]=Warna
Name[it]=Colore
Name[ja]=色
Name[kk]=Түс
Name[km]=ពណ៌
Name[kn]=ಬಣ್ಣ
Name[ko]=색
Name[ky]=Түс
Name[lt]=Spalva
Name[lv]=Krāsas
Name[mk]=Боја
Name[ml]=നിറം
Name[mr]=रंग
Name[nb]=Farge
Name[ne]=रङ
Name[nl]=Kleur
Name[or]=ରଙ୍ଗ
Name[pa]=ਰੰਗ
Name[pl]=Kolor
Name[pt]=Cor
Name[pt_BR]=Cor
Name[ro]=Culoare
Name[ru]=Цвет
Name[sk]=Farby
Name[sl]=Barva
Name[sr]=Боја
Name[sr@latin]=Boja
Name[sv]=Färg
Name[ta]=நிறம்
Name[te]=రంగు
Name[tg]=Ранг
Name[th]=สี
Name[tr]=Renk
Name[ug]=رەڭ
Name[uk]=Колір
Name[vi]=Màu sắc
Name[zh_CN]=色彩
Name[zh_HK]=顏色
Name[zh_TW]=顏色
Comment=Calibrate the color of your devices, such as displays, cameras or printers
Comment[af]=Kalibreer die kleur van toestelle, bv. skerms, kameras of drukkers
Comment[an]=Calibrar a color d'os tuyos dispositivos, como pantallas, camaras u impresoras
Comment[ar]=عاير ألوان أجهزتك، مثل أجهزة العرض و الكمرات و الطابعات
Comment[as]=আপোনাৰ ডিভাইচসমূহৰ ৰঙ মানাংকন কৰক, যেনে প্ৰদৰ্শনসমূহ, কেমেৰাসমূহ অথবা প্ৰিন্টাৰসমূহ
Comment[be]=Калібраванне колераў прыстасаванняў: дысплеяў, камер, прынтараў і інш.
Comment[bg]=Калибриране на цвета на устройствата като екрани, камери, принтери
Comment[bn_IN]=অাপনার ডিভাইসের রঙ ক্যালিব্রেট করুন, যেমন প্রদর্শন, ক্যামেরা বা প্রিন্টার
Comment[ca]=Calibreu el color dels dispositius, com ara pantalles, càmeres o impressores
Comment[ca@valencia]=Calibreu el color dels dispositius, com ara pantalles, càmeres o impressores
Comment[cs]=Kalibrovat barvy zařízení, jako jsou obrazovky, kamery nebo tiskárny
Comment[da]=Kalibrér farver til dine enheder, såsom skærme, kameraer eller printere
Comment[de]=Kalibrieren Sie die Farbe für Ihre Geräte, wie Monitore, Kameras oder Drucker.
Comment[el]=Βαθμονομήστε το χρώμα των συσκευών σας, όπως οθόνες, κάμερες ή εκτυπωτές
Comment[en_GB]=Calibrate the colour of your devices, such as displays, cameras or printers
Comment[eo]=Kalibri la koloron de viaj aparatoj, kiel ekranoj, fotiloj aŭ presiloj
Comment[es]=Calibrar el color de sus dispositivos, como pantallas, cámaras o impresoras
Comment[et]=Seadmete värvide kalibreerimine kuvaritel, kaameratel ja printeritel
Comment[eu]=Kalibratu pantaila, kamera edo inprimagailuak bezalako gailuen kolorea
Comment[fa]=دستگاه‌های خود را، نظیر صفحه‌نمایش‌ها، دوربین‌ها و یا چاپگرها را درجه‌بندی رنگ کنید
Comment[fi]=Kalibroi laitteidesi, kuten näytön, kameran ja tulostimen värejä
Comment[fr]=Étalonne la couleur de vos périphériques, comme les écrans, les appareils photos ou les imprimantes
Comment[ga]=Calabraigh dath do ghléasanna, mar shampla taispeáintí, ceamaraí nó printéirí
Comment[gl]=Calibre o cor dos seus dispositivos, como as pantallas, cámaras ou impresoras
Comment[gu]=તમારાં ઉપકરણોનાં રંગને કેલિબ્રેટ કરો, જેમ કે દર્શાવ, કૅમેરા અથવા પ્રિન્ટરો
Comment[he]=כיול הצבע של ההתקנים שלך כגון צגים, מצלמות או מדפסות
Comment[hi]=अपने उपकरणों जैसे प्रदर्शन , कैमरा, या प्रिंटर के रंग का आशंकन करें
Comment[hu]=Kijelzők, fényképezőgépek vagy nyomtatók színeinek kalibrálása
Comment[id]=Kalibrasikan warna perangkat Anda, seperti monitor, kamera, atau pencetak
Comment[it]=Calibra il colore dei propri dispositivi, come monitor, fotocamere o stampanti
Comment[ja]=ディスプレイやカメラ、プリンター等のデバイスのキャリブレート
Comment[kk]=Экрандар, камералар және принтерлер сияқты құрылғыларыңыздың түстерін калибрациялаңыз
Comment[kn]=ನಿಮ್ಮ ಸಾಧನಗಳು, ಪ್ರದರ್ಶಕಗಳು, ಕ್ಯಾಮೆರಾಗಳು ಅಥವ ಮುದ್ರಕಗಳ ಬಣ್ನವನ್ನು ಕ್ಯಾಲಿಬ್ರೇಟ್ ಮಾಡು
Comment[ko]=디스플레이, 카메라, 프린터같은 장치의 색을 보정합니다
Comment[lt]=Kalibruokite savo įrenginių, tokių kaip vaizduokliai, kameros ar spausdintuvai, spalvas
Comment[lv]=Kalibrējiet krāsas savām ierīcēm, piemēram, displejiem, kamerām vai printeriem
Comment[ml]=ക്യാമറ , പ്രിന്റ്റർ, ഡിസ്സ്പ്ലേ ഉപകരണങ്ങളുടെ നിറം കാലിബ്രേറ്റ് ചെയ്യുക
Comment[mr]=साधनांचे रंग कॅलिब्रेट करा, जसे कि डिस्पलेज, कॅमेराज किंवा छापईयंत्र
Comment[nb]=Kalibrer fargene for dine enheter som f.eks. skjermer, kamera eller skrivere
Comment[nl]=De kleur van uw apparaten, zoals beeldschermen, camera's of printers kalibreren
Comment[or]=ଆପଣଙ୍କର ଉପକରଣର ରଙ୍ଗ ମାପନ୍ତୁ, ଯେପରିକି ପ୍ରଦର୍ଶନୀ, କ୍ୟାମେରା କିମ୍ବା ସୂଚକମାନ
Comment[pa]=ਆਪਣੇ ਜੰਤਰਾਂ, ਜਿਵੇਂ ਕਿ ਡਿਸਪਲੇਅ, ਕੈਮਰੇ ਜਾਂ ਪਰਿੰਟਰਾਂ ਦੇ ਰੰਗ ਨੂੰ ਕੈਲੀਬਰੇਟ ਕਰੋ
Comment[pl]=Kalibracja kolorów urządzeń, takich jak ekrany, aparaty, kamery i drukarki
Comment[pt]=Calibre a cor dos seus dispositivos, tais como ecrãs, câmaras ou impressoras
Comment[pt_BR]=Calibre a cor dos seus dispositivos, tais como monitores, câmeras ou impressoras
Comment[ru]=Калибровка цвета устройств, таких как экраны, камеры или принтеры
Comment[sk]=Kalibruje farby vašich zariadení, ako napr. displeje, kamery alebo tlačiarne
Comment[sl]=Umerite barvo svojih naprav kot so zasloni, fotoaparati ali tiskalniki
Comment[sr]=Калибрирајте боје ваших уређаја, као што су екрани, фото-апарати или штампачи
Comment[sr@latin]=Kalibrirajte boje vaših uređaja, kao što su ekrani, foto-aparati ili štampači
Comment[sv]=Kalibrera färgen för dina enheter såsom skärmar, kameror eller skrivare
Comment[ta]=உங்கள் காட்சிகள், கேமராக்கள் அல்லது அச்சுப்பொறிகள் போன்ற சாதனங்களின் நிறத்தை அளவைவகுக்கவும்
Comment[te]=మీ పరికరముల యొక్క రంగును కాలిబరేట్ చేయండి, ప్రదర్శనలు, కేమెరాలు లేదా ముద్రికలు వలె
Comment[tg]=Санҷиши ранги дастгоҳҳо, монанди дисплейҳо, камераҳо ё принтерҳо
Comment[th]=เทียบมาตรฐานสีอุปกรณ์ของคุณ เช่น จอภาพ กล้องถ่ายรูป หรือเครื่องพิมพ์
Comment[tr]=Ekran, kamera veya yazıcı gibi aygıtlarınızın renk kalibrasyonunu yapın.
Comment[uk]=Відкалібрувати кольори таких пристроїв, як екрани, камери і принтери
Comment[vi]=Định chuẩn màu sắc của thiết bị của bạn, như là bộ hiển thị, camera hay máy in
Comment[zh_CN]=校准设备的色彩，例如显示器、相机或打印机
Comment[zh_HK]=校準你裝置的顏色，像是顯示器、攝影機或打印機
Comment[zh_TW]=校準您裝置的顏色，像是顯示器、攝影機或印表機
Exec=gnome-control-center color
Icon=preferences-color
Terminal=false
Type=Application
NoDisplay=true
StartupNotify=true
Categories=GNOME;GTK;Settings;X-GNOME-Settings-Panel;HardwareSettings;
OnlyShowIn=GNOME;Unity;
X-GNOME-Bugzilla-Bugzilla=GNOME
X-GNOME-Bugzilla-Product=gnome-control-center
X-GNOME-Bugzilla-Component=color
X-GNOME-Bugzilla-Version=3.14.2
# Translators: those are keywords for the color control-center panel
Keywords=Color;ICC;Profile;Calibrate;Printer;Display;
Keywords[af]=Color;ICC;Profile;Calibrate;Printer;Display;kleur;profiel;kalibreer;drukker;skerm;
Keywords[an]=Color;ICC;Perfil;Calibrau;Impresora;Pantalla;
Keywords[ar]=لون;ألوان;إعداد;تشكيل;معايرة;طابعة;شاشة;
Keywords[as]=ৰঙ;ICC;আলেখ্য;মানাংকন;প্ৰিন্টাৰ;প্ৰদৰ্শন;
Keywords[ast]=Color;ICC;Perfil;Calibráu;Imprentadora;Pantalla;
Keywords[be]=Колер;ICC;Профіль;Калібраванне;Прынтар;Друк;Манітор;Экран;
Keywords[bg]=Цвят;Профил;Калибриране;Принтер;Екран;Color;ICC;Profile;Calibrate;Printer;Display;
Keywords[bn_IN]=রঙ;ICC;প্রোফাইল;ক্যালিব্রেট;প্রিন্টার;প্রদর্শন;
Keywords[ca]=Color;ICC;Perfil;Calibratge;Impressora;Pantalla;
Keywords[ca@valencia]=Color;ICC;Perfil;Calibratge;Impressora;Pantalla;
Keywords[crh]=Renk;ICC;Profil;Ayar;Yazıcı;Görünüm;
Keywords[cs]=barvy;ICC;profil;kalibrace;tiskárna;obrazovka;displej;
Keywords[da]=Farve;ICC;Profil;Kalibrer;Printer;Skærm;
Keywords[de]=Farbe;ICC;Profil;Kalibrieren;Drucker;Anzeige;
Keywords[el]=Χρώμα;ICC;Προφίλ;Βαθμονόμηση;Εκτυπωτής;Οθόνη;Color;Profile;Calibrate;Printer;Display;
Keywords[en_GB]=Colour;ICC;Profile;Calibrate;Printer;Display;
Keywords[eo]=Koloro;ICC;Profilo;Kalibri;Presilo;Ekrano;
Keywords[es]=Color;ICC;Perfil;Calibrado;Impresora;Pantalla;
Keywords[et]=Värv;ICC;Profiil;Kalibreerimine;Printer;Kuva;Ekraan;Monitor;
Keywords[eu]=Kolorea;ICC;Profila;Kalibratu;Inprimagailua;Pantaila;
Keywords[fa]=رنگ;ICC;مجموعه تنظیمات;درجه‌بندی;چاپگر;نمایشگر;
Keywords[fi]=väri;ICC;color;profiili;kalibrointi;Calibrate;Tulostin;Printer;Näyttö;
Keywords[fr]=Couleur;ICC;Profil;Étalonner;Étalonnage;Imprimante;Écran;
Keywords[ga]=Dath;ICC;Próifíl;Calabraigh;Printéir;Taispeáint;
Keywords[gl]=Cor;ICC;Perfil;Calibrado;Impresora;Pantalla;
Keywords[gu]=રંગ;ICC;રૂપરેખા;માપદંડ;પ્રિન્ટર;દર્શાવ;
Keywords[he]=צבע;ICC;פרופיל;כיול;מדפסת;תצוגה;
Keywords[hi]=रंग;आईसीसी;प्रोफाइल;जांच;प्रिंटर;प्रदर्शन;
Keywords[hu]=Szín;ICC;Színek;Profilozás;Kalibrálás;Nyomtató;Kijelző;
Keywords[id]=Warna;ICC;Profil;Kalibrasi;Pencetak;Tampilan;
Keywords[it]=Colore;ICC;Profilo;Calibrazione;Stampante;Display;Monitor;Schermo;
Keywords[ja]=Color;ICC;Profile;Calibrate;Printer;Display;色;ICC;プロファイル;キャリブレーション;プリンター;ディスプレイ;
Keywords[kk]=Түс;ICC;Профиль;Калибрациялау;Принтер;Экран;
Keywords[km]=Color;ICC;Profile;Calibrate;Printer;Display;
Keywords[kn]=ಬಣ್ಣ;ICC;ಪ್ರೊಫೈಲ್;ಕ್ಯಾಲಿಬ್ರೇಟ್;ಮುದ್ರಕ;ಪ್ರದರ್ಶಕ;
Keywords[ko]=Color;색;ICC;Profile;프로파일;Calibrate;보정;Printer;프린터;Display;디스플레이;
Keywords[ky]=Түс;ICC;Профайл;Калибрлөө;Принтер;Экран;
Keywords[lt]=Spalva;ICC;Profilis;Kalibravimas;Spausdintuvas;Ekranas;
Keywords[lv]=Krāsas;ICC;profils;Kalibrēt;Printeris;Ekrāns;Color;ICC;Profile;Calibrate;Printer;Display;
Keywords[mk]=Боја;ICC;Профил;Калибрирај;Печатач;Приказ;
Keywords[ml]=Color;ICC;Profile;Calibrate;Printer;Display;
Keywords[mr]=रंग;ICC;प्रोफाइल;कॅलिब्रेट;प्रिंटर;डिस्पले;
Keywords[nb]=Farge;ICC;Profil;Kalibrer;Skriver;Skjerm;
Keywords[nl]=Color;ICC;Profile;Calibrate;Printer;Display;Kleur;Kalibreren;Weergave;
Keywords[or]=ରଙ୍ଗ;ICC;ରୂପରେଖା;ମାପନ୍ତୁ;ମୁଦ୍ରଣୀ;ପ୍ରଦର୍ଶନୀ;
Keywords[pa]=ਰੰਗ,Color;ICC;Profile;Calibrate;ਪ੍ਰਿੰਟਰ;ਪਰਿੰਟਰ;Printer;Display;ਡਿਸਪਲੇਅ;
Keywords[pl]=Kolor;ICC;Profil;Kalibracja;Drukarka;Ekran;
Keywords[pt]=Cor;ICC;Perfil;Calibrar;Impressora;Ecrã;
Keywords[pt_BR]=Cor;ICC;Perfil;Calibração;Impressão;Tela;
Keywords[ro]=Color;ICC;Profile;Calibrate;Printer;Display;Culoare;Profil;Calibrare;Imprimantă;
Keywords[ru]=Цвет;ICC;Профиль;Калибровка;Принтер;Экран;
Keywords[sk]=Farba;Farby;ICC;Profil;Kalibrovať;Tlačiareň;Displej;
Keywords[sl]=Barva;ICC;Profil;Umerjanje;Tiskalnik;Zaslon;
Keywords[sr]=боја;ицц;профил;калибрирај;штампач;екран;
Keywords[sr@latin]=boja;icc;profil;kalibriraj;štampač;ekran;
Keywords[sv]=Färg;ICC;Profil;Kalibrera;Skrivare;Skärm;
Keywords[ta]=நிறம்;ஐசிசி;வரிவுரு;அளவீடுசெய்;அச்சுப்பொறி;தோற்றம்;
Keywords[te]=వర్ణం;ICC;ప్రవర;కాలిబ్రేట్;ముద్రకం;ప్రదర్శకం;
Keywords[tg]=Ранг;ICC;Профил;Танзими андоза;Принтер;Дисплей;
Keywords[th]=สี;ICC;โพรไฟล์;เทียบมาตรฐาน;เครื่องพิมพ์;จอภาพ;
Keywords[tr]=Renk;ICC;Profil;Ayar;Yazıcı;Görünüm;
Keywords[ug]=رەڭ;ICC;سەپلىمە ھۆججەت;تۈزىتىش;پرىنتېر;ئېكران;
Keywords[uk]=Колір;ICC;Профіль;Калібрування;Принтер;Екран;
Keywords[vi]=Color;Màu;Mau;ICC;Profile;Calibrate;Chinh;Printer;Máy;in;May;Display;Màn;hình;Man;hinh;
Keywords[zh_CN]=颜色;色彩;配置;校准;打印机;显示;Color;ICC;Profile;Calibrate;Printer;Display;
Keywords[zh_HK]=Color;ICC;Profile;Calibrate;Printer;Display;顏色;色彩描述檔;校準;打印機;顯示器;
Keywords[zh_TW]=Color;ICC;Profile;Calibrate;Printer;Display;顏色;色彩描述檔;校準;印表機;顯示器;
