[Desktop Entry]
Name=Package Sources
Name[as]=পেকেইজৰ উৎসসমূহ
Name[be]=Крыніцы пакункаў
Name[ca]=Fonts de paquets
Name[ca@valencia]=Fonts de paquets
Name[cs]=Zdroje balíčků
Name[da]=Pakkekilder
Name[de]=Paketquellen
Name[el]=Πηγές πακέτου
Name[es]=Fuentes de paquetes
Name[eu]=Paketeen iturburuak
Name[fi]=Pakettilähteet
Name[fr]=Sources de paquets
Name[gl]=Orixes de paquetes
Name[gu]=પેકેજ સ્ત્રોત
Name[hi]=संकुल स्रोत
Name[hu]=Csomagforrások
Name[id]=Sumber Paket
Name[it]=Sorgenti dei pacchetti
Name[ja]=パッケージソース
Name[kn]=ಪ್ಯಾಕೇಜ್‌ ಆಕರಗಳು
Name[ko]=패키지 공급원
Name[lt]=Paketų šaltiniai
Name[lv]=Pakotņu avoti
Name[mr]=संकुल स्रोत
Name[ms]=Sumber-Sumber Pakej
Name[nb]=Pakkekilder
Name[ne]=प्याकेजहरू स्रोतहरू
Name[nl]=Pakketbronnen
Name[pa]=ਪੈਕੇਜ ਸਰੋਤ
Name[pl]=Źródła pakietów
Name[pt]=Fontes de Pacotes
Name[pt_BR]=Fontes de pacotes
Name[ru]=Источники пакетов
Name[sk]=Zdroje balíkov
Name[sl]=Izvorni paketi
Name[sr]=Извори пакета
Name[sr@latin]=Izvori paketa
Name[ta]=தொகுப்பு மூலங்கள்
Name[tg]=Манбаҳои бастаҳо
Name[th]=แหล่งแพกเกจ
Name[tr]=Paket Kaynakları
Name[uk]=Джерела пакунків
Name[zh_CN]=软件包来源
Name[zh_TW]=軟體包資料源
Comment=Enable or disable package repositories
Comment[as]=পেকেইজ ভঁৰাল সামৰ্থবান অথবা অসামৰ্থবান কৰক
Comment[be]=Уключэнне пэўных сховішчаў пакункаў
Comment[ca]=Habilita o inhabilita els dipòsits de paquets
Comment[ca@valencia]=Habilita o inhabilita els dipòsits de paquets
Comment[cs]=Povolte nebo zakažte repozitáře balíčků
Comment[da]=Aktivér eller deaktivér pakkearkiver
Comment[de]=Paketquellen aktivieren oder deaktivieren
Comment[el]=Ενεργοποίηση ή απενεργοποίηση αποθετηρίων πακέτου
Comment[es]=Habilitar o deshabilitar repositorios de paquetes
Comment[eu]=Gaitu edo desgaitu paketeen biltegiak
Comment[fi]=Ota käyttöön tai poista käytöstä pakettien asennuslähteitä
Comment[fr]=Active ou désactive des dépôts de paquets
Comment[gl]=Activar ou desactivar repositorios de paquetes
Comment[gu]=પેકેજ રિપોઝીટરીઓને સક્રિય અથવા નિષ્ક્રિય કરો
Comment[hi]=संकुल रिपोजिटरी सक्रिय अथवा निष्क्रिय करें
Comment[hu]=Csomagtárolók engedélyezése vagy letiltása
Comment[id]=Aktifkan atau nonaktifkan repositori paket
Comment[it]=Abilita o disabilita i repository dei pacchetti
Comment[ja]=パッケージのリポジトリを有効ないし無効にする
Comment[kn]=ಪ್ಯಾಕೇಜ್‌ ರೆಪೊಸಿಟರಿಗಳನ್ನು ಸಕ್ರಿಯಗೊಳಿಸು ಅಥವ ನಿಷ್ಕ್ರಿಯಗೊಳಿಸು
Comment[ko]=패키지 저장소를 사용하거나 사용하지 않습니다
Comment[lt]=Įjungti arba išjungti paketų saugyklas
Comment[lv]=Aktivizēt vai deaktivizēt pakotņu krātuves
Comment[mr]=संकुल रेपॉजिटरीज सुरू किंवा बंद करा
Comment[ms]=Memboleh atau melumpuhkan repositori pakej
Comment[nb]=Slå av eller på pakkelagre
Comment[nl]=Pakketbronnen in- of uitschakelen
Comment[pa]=ਪੈਕੇਜ ਰਿਪੋਜ਼ਟਰੀਆਂ ਯੋਗ ਜਾਂ ਆਯੋਗ ਕਰੋ
Comment[pl]=Włączanie i wyłączanie repozytoriów pakietów
Comment[pt]=Ativar ou desativar repositórios de pacotes
Comment[pt_BR]=Habilite ou desabilite repositórios de pacotes
Comment[ru]=Включить или выключить репозитории пакетов
Comment[sk]=Umožňuje povoliť alebo zakázať zdroje balíkov
Comment[sl]=Omogoči ali onemogoči skladišča paketov
Comment[sr]=Укључите или искључите ризнице пакета
Comment[sr@latin]=Uključite ili isključite riznice paketa
Comment[ta]=மென்பொருள் தொகுப்பதிவகங்களை செயல்படுத்து அல்லது முடக்கு
Comment[tg]=Фаъол ё ғайрифаъол кардани анбори бастаҳои нармафзор
Comment[th]=เปิดหรือปิดใช้คลังแพกเกจ
Comment[tr]=Paket depolarını etkinleştir ya da devre dışı bırak
Comment[uk]=Увімкнути або вимкнути сховища пакунків
Comment[zh_CN]=启用或禁用软件仓库
Comment[zh_TW]=啟用或停用軟體庫
Icon=gpk-prefs
Exec=gpk-prefs
Terminal=false
Type=Application
Categories=Settings;X-GNOME-SystemSettings;
NotShowIn=KDE;
StartupNotify=true
NoDisplay=true
