[Desktop Entry]
Name=Package Install
Name[as]=পেকেইজ ইনস্টল
Name[be]=Усталяванне пакункаў
Name[ca]=Instal·lació de paquets
Name[ca@valencia]=Instal·lació de paquets
Name[cs]=Instalace balíčků
Name[da]=Pakkeinstallation
Name[de]=Paketinstallation
Name[el]=Εγκατάσταση πακέτου
Name[es]=Instalar paquete
Name[eu]=Paketeen instalazioa
Name[fi]=Paketin asennin
Name[fr]=Installation de paquets
Name[gl]=Instalación do paquete
Name[gu]=પેકેજ સ્થાપન
Name[hi]=संकुल संस्थापन
Name[hu]=Csomagtelepítő
Name[id]=Pemasangan Paket
Name[it]=Installa pacchetti
Name[ja]=パッケージのインストール
Name[kn]=ಪ್ಯಾಕೇಜ್ ಅನುಸ್ಥಾಪನೆ
Name[ko]=패키지 설치
Name[lt]=Paketų diegtuvė
Name[lv]=Pakotnes instalēšana
Name[mr]=संकुल इंस्टॉल
Name[ms]=Pasang Pakej
Name[nb]=Pakkeinstallering
Name[ne]=प्याकेज फाइल प्रतिस्थापन गर्नुहोस्
Name[nl]=Pakketinstallatie
Name[pa]=ਪੈਕੇਜ ਇੰਸਟਾਲ
Name[pl]=Instalacja pakietów
Name[pt]=Instalador de Pacotes
Name[pt_BR]=Instalador de pacotes
Name[ru]=Установка пакетов
Name[sk]=Inštalátor balíkov
Name[sl]=Namesti paket
Name[sr]=Инсталација пакета
Name[sr@latin]=Instalacija paketa
Name[ta]=தொகுப்பு நிறுவல்
Name[tg]=Насби бастаҳо
Name[th]=ติดตั้งแพกเกจ
Name[tr]=Paket Kurulumu
Name[uk]=Встановлення пакунків
Name[zh_CN]=软件包安装
Name[zh_TW]=軟體包安裝
Comment=Install selected packages on the system
Comment[as]=চিস্টেমত নিৰ্বাচিত পেকেইজসমূহ ইনস্টল কৰক
Comment[be]=Усталяванне вылучаных пакункаў у сістэме
Comment[ca]=Instal·la els paquets seleccionats en el sistema
Comment[ca@valencia]=Instal·la els paquets seleccionats en el sistema
Comment[cs]=Instalujte vybraný software do tohoto systému
Comment[da]=Installér valgte pakker på systemet
Comment[de]=Ausgewählte Pakete auf dem System installieren
Comment[el]=Εγκατάσταση των επιλεγμένων πακέτων στο σύστημα
Comment[es]=Instalar los paquetes seleccionados en el sistema
Comment[eu]=Instalatu hautatutako paketeak sisteman
Comment[fi]=Asenna valitut paketit järjestelmään
Comment[fr]=Installer le paquet sélectionné sur le système
Comment[gl]=Instalar os paquetes seleccionados no sistema
Comment[gu]=સિસ્ટમ પર પસંદ થયેલ પેકેજોને સ્થાપિત કરો
Comment[hi]=तंत्र पर चयनित संकुल संस्थापित करें
Comment[hu]=A kijelölt csomagok telepítése a rendszerre
Comment[id]=Pasang paket yang dipilih pada sistem
Comment[it]=Installa i pacchetti selezionati sul sistema
Comment[ja]=選択されたパッケージをシステムにインストールします
Comment[kn]=ಆರಿಸಲಾದ ಪ್ಯಾಕೇಜನ್ನು ವ್ಯವಸ್ಥೆಯಲ್ಲಿ ಅನುಸ್ಥಾಪಿಸು
Comment[ko]=선택한 패키지를 시스템에 설치합니다
Comment[lt]=Įdiegti pasirinktus paketus sistemoje
Comment[lv]=Instalēt izvēlētās pakotnes sistēmā
Comment[mr]=प्रणालीवर नीवडलेले संकुल इंस्टॉल करा
Comment[nb]=Installer valgte pakker på systemet
Comment[nl]=Geselecteerde pakketten op het systeem installeren
Comment[pa]=ਚੁਣੇ ਪੈਕੇਜ ਸਿਸਟਮ ਉੱਤੇ ਇੰਸਟਾਲ ਕਰੋ
Comment[pl]=Instalacja wybranych pakietów w komputerze
Comment[pt]=Instalar pacotes selecionados no sistema
Comment[pt_BR]=Instale os pacotes selecionados no sistema
Comment[ru]=Установить выбранные пакеты
Comment[sk]=Inštaluje do systému vybrané balíky
Comment[sl]=Namestitev izbrane programske opreme v sistem
Comment[sr]=Инсталирајте изабране пакете на систему
Comment[sr@latin]=Instalirajte izabrane pakete na sistemu
Comment[ta]=தேர்ந்தெடுக்கப்பட்ட தொகுப்புகளை கணினியில் நிறுவவும்
Comment[tg]=Насб кардани бастаҳои интихобшуда дар система
Comment[th]=ติดตั้งแพกเกจที่เลือกลงในระบบ
Comment[tr]=Seçili paketleri sisteme kur
Comment[uk]=Встановити у систему вибрані пакунки
Comment[zh_CN]=在系统中安装选定的软件包
Comment[zh_TW]=安裝選取的軟體包到系統中
Categories=System;
Exec=gpk-install-local-file %F
Terminal=false
Type=Application
Icon=system-software-install
StartupNotify=true
NoDisplay=true
MimeType=application/x-rpm;application/x-redhat-package-manager;application/x-deb;application/x-app-package;
