[Desktop Entry]
Version=1.0
Type=Application
Name=Nautilus-Actions Configuration Tool
Name[cs]=Nástroj nastavení Akce-Nautilus
Name[de]=Einstellungen für Nautilus-Aktionen
Name[el]=Εργαλείο ρυθμίσεων ενεργειών Ναυτίλου
Name[es]=Herramienta de configuración de las acciones de Nautilus
Name[fr]=Outil de configuration de Nautilus-Actions
Name[it]=Strumento di configurazione delle azioni di Nautilus
Name[pt_BR]=Ferramenta de configuração de Ações do Nautilus
Name[sl]=Orodje nastavitev dejanj Nautilusa
Name[sr]=Алат подешавања Наутилусових радњи
Name[sr@latin]=Alat podešavanja Nautilusovih radnji
Name[sv]=Konfigurationsverktyg för Nautilus-åtgärder
Comment=Configure items to be added to the Nautilus context menus
Comment[cs]=Přidat položky, které budou přidány do kontextové nabídky aplikace Nautilus
Comment[de]=Einträge konfigurieren, um sie zum Kontextmenü von Nautilus hinzuzufügen
Comment[el]=Ρύθμιση στοιχείων για προσθήκη στα μενού περιεχομένων του Ναυτίλου
Comment[es]=Configure los elementos que van a ser añadidos a los menús contextuales de Nautilus
Comment[fr]=Configurer les éléments à ajouter aux menus contextuels de Nautilus
Comment[it]=Configura gli oggetti per aggiungerli al menù contestuale di Nautilus
Comment[pt_BR]=Configurar itens para ser adicionado aos menus de contexto do Nautilus
Comment[sl]=Nastavi predmete za dodajanje v vsebinski meni Nautilusa
Comment[sr]=Подесите ставке које ће бити додате у приручне изборнике Наутилуса
Comment[sr@latin]=Podesite stavke koje će biti dodate u priručne izbornike Nautilusa
Exec=nautilus-actions-config-tool
Icon=nautilus-actions
Categories=System;FileTools;FileManager;
StartupNotify=true
Keywords=FileTools;FileManager;CustomMenu;CustomAction
