[Desktop Entry]
Name=Screen Reader
Name[an]=Lector de pantalla
Name[ast]=Llector de pantalla
Name[be]=Чытач з экрана
Name[bg]=Екранен четец
Name[ca]=Lector de pantalla
Name[ca@valencia]=Lector de pantalla
Name[cs]=Čtečka obrazovky
Name[da]=Skærmlæser
Name[de]=Bildschirmleser
Name[el]=Αναγνώστης οθόνης
Name[en_GB]=Screen Reader
Name[eo]=Ekranlegilo
Name[es]=Lector de pantalla
Name[eu]=Pantaila-irakurlea
Name[fi]=Näytönlukija
Name[fr]=Lecteur d'écran
Name[gl]=Lector de pantalla
Name[hi]=स्क्रीन वाचक
Name[hu]=Képernyőolvasó
Name[id]=Pembaca Layar
Name[it]=Lettore schermo
Name[lt]=Ekrano skaityklė
Name[lv]=Ekrāna lasītājs
Name[mk]=Читач на екран
Name[ml]=സ്ക്രീന്‍ വായനക്കാരന്‍
Name[nb]=Skjermleser
Name[ne]=दृष्टि वाचक
Name[pa]=ਸਕਰੀਨ ਰੀਡਰ
Name[pl]=Czytnik ekranowy
Name[pt]=Leitor de Ecrã
Name[pt_BR]=Leitor de tela
Name[ru]=Экранный диктор
Name[sk]=Čítačka obrazovky
Name[sl]=Zaslonski bralnik
Name[sr]=Читач екрана
Name[sr@latin]=Čitač ekrana
Name[sv]=Skärmläsare
Name[ta]=திரை படிப்பி 
Name[te]=తెర చదువరి
Name[tg]=Хонандаи экран
Name[tr]=Ekran Okuyucusu
Name[ug]=ئېكران ئوقۇغۇچ
Name[uk]=Зчитувач екрана
Name[zh_CN]=屏幕阅读器
Name[zh_HK]=螢幕閱讀器
Name[zh_TW]=螢幕閱讀器
GenericName=Screen Reader
GenericName[an]=Lector de pantalla
GenericName[ast]=Llector de pantalla
GenericName[be]=Чытач з экрана
GenericName[bg]=Екранен четец
GenericName[ca]=Lector de pantalla
GenericName[ca@valencia]=Lector de pantalla
GenericName[cs]=Čtečka obrazovky
GenericName[da]=Skærmlæser
GenericName[de]=Bildschirmleser
GenericName[el]=Αναγνώστης οθόνης
GenericName[en_GB]=Screen Reader
GenericName[eo]=Ekranlegilo
GenericName[es]=Lector de pantalla
GenericName[eu]=Pantaila-irakurlea
GenericName[fi]=Näytönlukija
GenericName[fr]=Lecteur d'écran
GenericName[gl]=Lector de pantalla
GenericName[hi]=स्क्रीन वाचक
GenericName[hu]=Képernyőolvasó
GenericName[id]=Pembaca Layar
GenericName[it]=Lettore schermo
GenericName[lt]=Ekrano skaityklė
GenericName[lv]=Ekrāna lasītājs
GenericName[mk]=Читач на екран
GenericName[ml]=സ്ക്രീന്‍ വായനക്കാരന്‍
GenericName[nb]=Skjermleser
GenericName[ne]=दृष्टि वाचक
GenericName[pa]=ਸਕਰੀਨ ਰੀਡਰ
GenericName[pl]=Czytnik ekranowy
GenericName[pt]=Leitor de Ecrã
GenericName[pt_BR]=Leitor de tela
GenericName[ru]=Экранный диктор
GenericName[sk]=Čítačka obrazovky
GenericName[sl]=Zaslonski bralnik
GenericName[sr]=Читач екрана
GenericName[sr@latin]=Čitač ekrana
GenericName[sv]=Skärmläsare
GenericName[ta]=திரை படிப்பி 
GenericName[te]=తెర చదువరి
GenericName[tg]=Хонандаи экран
GenericName[tr]=Ekran Okuyucusu
GenericName[ug]=ئېكران ئوقۇغۇچ
GenericName[uk]=Зчитувач екрана
GenericName[zh_CN]=屏幕阅读器
GenericName[zh_HK]=螢幕閱讀器
GenericName[zh_TW]=螢幕閱讀器
X-GNOME-FullName=Orca Screen Reader
X-GNOME-FullName[an]=Lector de pantalla Orca
X-GNOME-FullName[ast]=Llector de pantalla d'Orca
X-GNOME-FullName[be]=Чытач з экрана Orca
X-GNOME-FullName[bg]=Orca — екранен четец
X-GNOME-FullName[ca]=Lector de pantalla Orca
X-GNOME-FullName[ca@valencia]=Lector de pantalla Orca
X-GNOME-FullName[cs]=Čtečka obrazovky Orca
X-GNOME-FullName[da]=Orca skærmlæser
X-GNOME-FullName[de]=Orca-Bildschirmleser
X-GNOME-FullName[el]=Αναγνώστης οθόνης Orca
X-GNOME-FullName[en_GB]=Orca Screen Reader
X-GNOME-FullName[eo]=Ekranlegilo Orko
X-GNOME-FullName[es]=Lector de pantalla Orca
X-GNOME-FullName[eu]=Orca pantaila-irakurlea
X-GNOME-FullName[fi]=Orca-näytönlukija
X-GNOME-FullName[fr]=Lecteur d'écran Orca
X-GNOME-FullName[gl]=Lector da pantalla Orca
X-GNOME-FullName[hi]=Orca स्क्रीन वाचक
X-GNOME-FullName[hu]=Orka képernyőolvasó
X-GNOME-FullName[id]=Orca Pembaca Layar
X-GNOME-FullName[it]=Lettore schermo Orca
X-GNOME-FullName[lt]=Orca ekrano skaityklė
X-GNOME-FullName[lv]=Orca ekrāna lasītājs
X-GNOME-FullName[mk]=Orca читач на екранот
X-GNOME-FullName[ml]=ഓര്‍കാ സ്ക്രീന്‍ വായനക്കാരന്‍
X-GNOME-FullName[nb]=Orca skjermleser
X-GNOME-FullName[ne]=ओर्का दृष्टि वाचक
X-GNOME-FullName[pa]=ਓਰਕਾ ਸਕਰੀਨ ਰੀਡਰ
X-GNOME-FullName[pl]=Czytnik ekranowy Orca
X-GNOME-FullName[pt]=Leitor de Ecrã Orca
X-GNOME-FullName[pt_BR]=Leitor de tela Orca
X-GNOME-FullName[ru]=Экранный диктор Orca
X-GNOME-FullName[sk]=Orca - čítačka obrazovky
X-GNOME-FullName[sl]=Bralnik zaslona Orka
X-GNOME-FullName[sr]=Читач екрана Орка
X-GNOME-FullName[sr@latin]=Čitač ekrana Orka
X-GNOME-FullName[sv]=Orca skärmläsare
X-GNOME-FullName[ta]=ஆர்கா திரை படிப்பி 
X-GNOME-FullName[te]=ఓర్కా తెరచదువరి
X-GNOME-FullName[tg]=Хонандаи экрани Orca
X-GNOME-FullName[tr]=Orca Ekran Okuyucusu
X-GNOME-FullName[ug]=Orca ئېكران ئوقۇغۇ
X-GNOME-FullName[uk]=Інструмент читання з екрана Orca
X-GNOME-FullName[zh_CN]=Orca 屏幕阅读器
X-GNOME-FullName[zh_HK]=Orca 螢幕閱讀器
X-GNOME-FullName[zh_TW]=Orca 螢幕閱讀器
Comment=Provide access to graphical desktop environments via synthesized speech and/or refreshable braille
Comment[an]=Proporciona acceso a entornos d'escritorio graficos a traviés de voz sintetizada y Braille actualizable
Comment[ast]=Facilitar l'accesu a entornos gráficos d'escritoriu a traviés d'un sintetizador de voz y/o braille
Comment[be]=Доступ да графічнага працоўнага асяроддзя праз сінтэзатар маўлення і/ці праз манітор Брайля
Comment[bg]=Дава достъп до графичната среда чрез синтезирана реч и/или обновяващ се брайл
Comment[ca]=Proporciona accés a entorns d'escriptori gràfics a través d'un sintetitzador de veu i/o braille
Comment[ca@valencia]=Proporciona accés a entorns d'escriptori gràfics a través d'un sintetitzador de veu i/o braille
Comment[cs]=Poskytuje přístup ke grafickému pracovnímu prostředí pomocí hlasového generátoru a/nebo braillského řádku
Comment[da]=Giv adgang til grafiske skrivebordsmiljøer via syntetiseret tale og/eller opdaterbar blindeskrift
Comment[de]=Bietet Zugriff auf grafische Arbeitsumgebungen über Sprachausgabe und/oder aktualisierbare Braille-Ausgabe
Comment[el]=Παρέχει πρόσβαση σε γραφικά περιβάλλοντα επιφάνειας εργασίας μέσω συνθετικής ομιλίας και/ή πινακίδων μπράιγ
Comment[en_GB]=Provide access to graphical desktop environments via synthesised speech and/or refreshable braille
Comment[es]=Proporciona acceso a entornos de escritorio gráficos a través de voz sintetizada y Braille actualizable
Comment[eu]=Sintetizatutako ahotsa eta/edo braille freskagarria bidez mahaigainaren ingurune grafikoa erabiltzea baimentzen du.
Comment[fi]=Mahdollistaa graafisten työpöytäympäristöjen käytön synteettisen puheen ja/tai pistekirjoituksen avulla
Comment[fr]=Accéder aux environnements de bureau graphiques via la synthèse vocale et des plages braille
Comment[gl]=Fornece acceso a contornos de escritorio gráficos a través de voz sintetizada e Braille actualizábel
Comment[hi]=संश्लेषित वाक् और / या ताज़ा करने योग्य ब्रेल के माध्यम से आलेखीय डेस्कटॉप वातावरण के लिए पहुँच प्रदान करें.
Comment[hu]=A beszédszintetizátor és frissíthető Braille-kijelző segítségével elérhetővé teszi az asztali környezeteket
Comment[id]=Menyediakan akses ke lingkungan desktop grafis melalui suara sintetis dan/atau braille yang dapat disegarkan
Comment[it]=Permette di accedere agli ambienti desktop grafici attraverso sintesi vocale o braille aggiornabile
Comment[lt]=Suteikia prieiga prie grafinių darbastalio aplinkų su sintezuota kalba ir (arba) atnaujinamu brailiu
Comment[lv]=Nodrošina pieeju grafiskai darbvirsmas videi, izmantojot sintezētu runu un/vai atsvaidzināmu Brailu.
Comment[mk]=Овозможи пристап до графичките работни околини преку синтетизиран говор и/или брајов приказ
Comment[nb]=Gir tilgang til grafiske skrivebordsmiljøer via syntetisk tale og/eller oppdaterbar blindeskrift
Comment[ne]=संस्लेषित आवाज अथवा ब्रेल पटलको माध्यमले चित्रित डेस्कटप वातावरणमा पहुँच पुर्‍याउछ ।
Comment[pl]=Dostęp do graficznego środowiska pulpitu przez syntezator mowy i/lub odświeżalne pismo brajlowskie
Comment[pt]=Fornece acesso a ambientes de trabalho gráficos através de voz sintetizada ou braille
Comment[pt_BR]=Proporciona o acesso a ambientes gráficos de área de trabalho através de voz sintetizada e/ou Braille atualizável
Comment[ru]=Предоставляет доступ к графическому рабочему столу с помощью синтеза речи и/или брайлевского дисплея
Comment[sk]=Pomocou syntézy reči a/alebo braillového písma poskytuje prístup ku grafickému pracovnému prostrediu
Comment[sl]=Omogoči dostop do grafičnega okolja namizja preko sintetiziranega zvoka in odvoda brajice
Comment[sr]=Обезбеђује приступ графичком окружењу радне површи путем синтетизованог говора и/или путем брајевог писма
Comment[sr@latin]=Obezbeđuje pristup grafičkom okruženju radne površi putem sintetizovanog govora i/ili putem brajevog pisma
Comment[sv]=Tillhandahåll åtkomst till grafiska skrivbordsmiljöer via talsyntes och/eller uppdateringsbar punktskrift
Comment[ta]=வரைகலை மேல்மேசை சூழலுக்கு செயற்கை பேச்சு மற்றும்/ அல்லது புதிப்பிக்கக்கூடிய ப்ரெய்ல் வழியாக அணுகலை அளிக்கிறது
Comment[te]=గ్రాఫికల్ డెస్కటాప్ పరిసరములనకు సింతసైజ్డ్ భాషణము చేత మరియు/లేక పునశ్చరణచేయుగల బ్రైలీ ద్వారా అనుమతిని కలిగించుము
Comment[tg]=Таъмини дастрасӣ ба муҳитҳои графикии мизи корӣ тавассути нутқи синтезшуда ва/ё шрифти брайли навсозишаванда
Comment[ug]=ئاۋاز ياكى ئەمالار يېزىقى ئارقىلىق گرافىكىلىق ئۈستەلئۈستىنى زىيارەت قىلىش شارائىتى بىلەن تەمىنلەيدۇ
Comment[uk]=Надає доступ до графічного стільничного середовища через синтезоване мовлення й/або оновлювального Брайля
Comment[zh_CN]=通过合成语音和/或可刷新的布莱叶盲文提供访问图形桌面环境的途径
Comment[zh_HK]=透過語音合成與/或可更新的點字系統提供使用圖形化桌面環境的能力
Comment[zh_TW]=透過語音合成與/或可更新的點字系統提供使用圖形化桌面環境的能力
Keywords=screen reader;speech;braille;
Keywords[an]=lector de pantalla; voz; braille;
Keywords[be]=чытач з экрана;экран;голас;маўленне;Брайль;
Keywords[bg]=екранен четец;брайл;произнасяне;глас;screen reader;speech;braille;
Keywords[ca]=lector de pantalla;pronunciació;braille;
Keywords[ca@valencia]=lector de pantalla;pronunciació;braille;
Keywords[cs]=čtečka obrazovky;řeč;mluvení;čtení;hlasový;braille;braillský;
Keywords[da]=skærmlæser;tale;blindeskrift;braille;
Keywords[de]=Bildschirmleser;Sprache;Braille;
Keywords[el]=αναγνώστης οθόνης;ομιλία;Μπράιγ;screen reader;speech;braille;
Keywords[en_GB]=screen reader;speech;braille;
Keywords[eo]=ekranlegilo;parolo;brajlo;
Keywords[es]=lector de pantalla;voz;braille;
Keywords[eu]=pantaila-irakurlea;hitzegin;braille;
Keywords[fi]=screen reader;speech;braille;näytönlukija;puhe;pistekirjoitus;
Keywords[fr]=lecteur d'écran;synthèse vocale;braille;
Keywords[gl]=lector de pantalla;fala;braille;
Keywords[hi]=स्क्रीन रीडर;भाषण;ब्रेल;
Keywords[hu]=képernyőolvasó;beszéd;braille;
Keywords[id]=pembaca layar;bicara;braille;
Keywords[it]=screen reader;lettore schermo;sintesi vocale;braille;
Keywords[lt]=ekrano skaityklė;kalba;brailio raštas;
Keywords[lv]=ekrāna lasītājs;runa;Brails;
Keywords[ml]=screen reader;speech;braille;
Keywords[nb]=skjermleser;tale;blindeskrift;
Keywords[ne]=दृष्टि वाचक; वाचन;ब्रेल;
Keywords[pl]=czytnik ekranowy;czytnik ekranu;mowa;brajl;braille;
Keywords[pt]=leitor de ecrã;locução;braille;
Keywords[pt_BR]=leitor de tela;voz;braille;fala;
Keywords[ru]=чтение с экрана;экранный диктор;речь;брайль;
Keywords[sk]=čítačka obrazovky;syntéza reči;reč;braillovo písmo;
Keywords[sl]=govor;zaslonski bralnik;Braillova pisava;brajica;povečevalnik
Keywords[sr]=читач екрана;говор;брајева азбука;
Keywords[sr@latin]=čitač ekrana;govor;brajeva azbuka;
Keywords[ta]=திரைபடிப்பான்;பேசுதல்;ப்ரெய்ல்;
Keywords[tg]=хонандаи экран;нутқ;брайл;
Keywords[ug]=screen reader;speech;braille;ئېكران ئوقۇغۇچ;تاۋۇش;ئەمالار ئېلىپبەسى;
Keywords[uk]=читання з екрана;мовлення;брайль;
Keywords[zh_CN]=screen reader;speech;braille;屏幕阅读器;语音;盲文;
Keywords[zh_HK]=screen reader;speech;braille;螢幕閱讀器;語音;點字;
Keywords[zh_TW]=screen reader;speech;braille;螢幕閱讀器;語音;點字;
Exec=orca --replace
Icon=orca
Terminal=false
Type=Application
StartupNotify=true
Categories=GTK;GNOME;Utility;Accessibility;
X-GNOME-Bugzilla-Bugzilla=GNOME
X-GNOME-Bugzilla-Product=orca
X-GNOME-Bugzilla-Component=general

