[Desktop Entry]
Name=Simple Scan
Name[af]=Eenvoudige Skandeer
Name[ar]=الماسحة الضوئية
Name[ast]=Simple Scan
Name[bg]=Опростено сканиране
Name[bo]=པར་བཤུ་དཀྱུས་མ
Name[ca]=Escaneig senzill
Name[ca@valencia]=Escaneig senzill
Name[cs]=Jednoduché skenování
Name[da]=Simpel skanning
Name[de]=Simple Scan
Name[el]=Σάρωση
Name[en_GB]=Simple Scan
Name[eo]=Simpla skano
Name[es]=Simple Scan
Name[et]=Lihtne skannija
Name[eu]=Simple Scan
Name[fi]=Kuvanluku
Name[fr]=Outil de numérisation Simple Scan
Name[gd]=Sganadh simplidh
Name[gl]=Escaner sinxelo
Name[he]=סריקה פשוטה
Name[hr]=Jednostavno skeniranje
Name[hu]=Simple Scan
Name[id]=Pemindai Ringkas
Name[it]=Simple Scan
Name[ja]=シンプルスキャン
Name[km]=ស្កេន​ធម្មតា
Name[lv]=Vienkārša skenēšana
Name[mhr]=Simple Scan
Name[ms]=Pengimbas Ringkas
Name[my]=ရိုးရိုး Scan ဖတ်ခြင်း
Name[nb]=Simple Scan
Name[nl]=Scannen
Name[oc]=Aisina de numerizacion simpla
Name[pa]=ਸੌਖਾ ਸਕੈਨ
Name[pl]=Proste skanowanie
Name[pt]=Digitalização Simples
Name[pt_BR]=Digitalizador simples
Name[ro]=Scanare simplă
Name[ru]=Простое сканирование
Name[sd]=سادو اسڪين
Name[se]=Simple Scan
Name[sk]=Jednoduché skenovanie
Name[sl]=Enostavno optično branje
Name[sq]=Skanim i thjeshtë
Name[sr]=Обично скенирање
Name[sv]=Enkel bildinläsning
Name[te]=సింపుల్ స్కాన్
Name[th]=Simple Scan
Name[tr]=Basit Tarama
Name[ug]=ئاددىي شويلىلاش
Name[uk]=Просте сканування
Name[uz]=Simple Scan
Name[vi]=Quét đơn giản
Name[zh_CN]=扫描易
Name[zh_TW]=掃描易
Comment=Scan Documents
Comment[af]=Skandeer dokumente
Comment[ar]=امسح المستندات
Comment[bg]=Сканиране на документи
Comment[bo]=ཡིག་གེ་པར་བཤུ
Comment[ca]=Escanegeu documents
Comment[ca@valencia]=Escanegeu documents
Comment[cs]=Naskenovat dokumenty
Comment[da]=Skan dokumenter
Comment[de]=Dokumente scannen
Comment[el]=Σάρωση εγγράφων
Comment[en_GB]=Scan Documents
Comment[eo]=Skani dokumentojn
Comment[es]=Escanear documentos
Comment[et]=Dokumentide skannimine
Comment[eu]=Eskaneatu dokumentuak
Comment[fi]=Lue asiakirjoja kuvanlukijalta
Comment[fr]=Numériser des documents
Comment[gd]=Sganaich sgrìobhainnean
Comment[gl]=Escanear documentos
Comment[he]=סריקת מסמכים
Comment[hr]=Skenirajte dokumente
Comment[hu]=Dokumentumok szkennelése
Comment[id]=Pindai Dokumen
Comment[it]=Acquisisci documenti
Comment[ja]=ドキュメントをスキャンします
Comment[km]=ស្កេន​ឯកសារ
Comment[lv]=Skenēt dokumentus
Comment[ms]=Imbas Dokumen
Comment[my]=Scan Documents
Comment[nb]=Skann dokumenter
Comment[nl]=Documenten scannen
Comment[oc]=Numerizar de documents
Comment[pa]=ਸਕੈਨ ਕੀਤੇ ਡੌਕੂਮੈਂਟ
Comment[pl]=Skanowanie dokumentów
Comment[pt]=Digitalizar Documentos
Comment[pt_BR]=Digitalizar documentos
Comment[ro]=Scanează documente
Comment[ru]=Сканирование документов
Comment[sd]=دستاويزات اسڪين ڪريو
Comment[sk]=Skenovať dokumenty
Comment[sl]=Optično preberite dokumente
Comment[sq]=Skanoj Dokumentet
Comment[sr]=Скенирајте документе
Comment[sv]=Läs in dokument
Comment[te]=పత్రాలు స్కాన్ చేయు
Comment[th]=สแกนเอกสาร
Comment[tr]=Belgeleri Tara
Comment[ug]=پۈتۈك شويلىلاش
Comment[uk]=Сканувати документи
Comment[zh_CN]=扫描文档
Comment[zh_TW]=掃描文件
Exec=simple-scan
Icon=scanner
Terminal=false
Type=Application
StartupNotify=true
Categories=GNOME;GTK;Graphics;Scanning;
X-GNOME-Gettext-Domain=simple-scan
Keywords=scan;simple;sane;documents;
