[Desktop Entry]
Encoding=UTF-8
Name=Dia
Name[eo]=Dia
Name[pa]=ਡਾਈ
Name[pl]=Dia
GenericName=Diagram Editor
GenericName[ar]=محرّر المخطّط
GenericName[ast]=Editor de diagrames
GenericName[az]=Diaqramma editoru
GenericName[be]=Рэдактар дыяграмы
GenericName[bg]=Редактор на диаграми
GenericName[ca]=Editor de diagrames
GenericName[ca@valencia]=Editor de diagrames
GenericName[cs]=Editor diagramu
GenericName[da]=Diagramtegner
GenericName[de]=Diagrammeditor
GenericName[dz]=བཀོད་རིས་ཞུན་དགཔ་
GenericName[el]=Επεξεργαστής Διαγραμμάτων
GenericName[en_CA]=Diagram Editor
GenericName[en_GB]=Diagram Editor
GenericName[es]=Editor de diagramas
GenericName[eu]=Diagrama-editorea
GenericName[fi]=Kaaviomuokkain
GenericName[fr]=Éditeur de diagrammes
GenericName[ga]=Eagarthóir Léireíd
GenericName[gl]=Editor de diagramas
GenericName[gu]=આકૃતિ સંપાદક
GenericName[hr]=Uređivač diagrama
GenericName[hu]=Diagramszerkesztő
GenericName[id]=Pengubah Diagram
GenericName[it]=Editore di diagramma
GenericName[ja]=ダイアグラム・エディタ
GenericName[ko]=도표 편집기
GenericName[lt]=Diagramų redaktorius
GenericName[lv]=Diagrammu redaktors
GenericName[mk]=Уредувач на дијаграми
GenericName[mr]=आकृती संपादक
GenericName[ms]=Editor Diagram
GenericName[nb]=Diagramredigering
GenericName[ne]=चित्र सम्पादक
GenericName[nl]=Diagram Bewerken
GenericName[nn]=Diagramredigering
GenericName[pa]=ਡਾਈਗਰਾਮ ਸੋਧਕ
GenericName[pl]=Edytor diagramów
GenericName[pt]=Editor de Diagramas
GenericName[pt_BR]=Editor de diagramas
GenericName[ro]=Editor de diagrame
GenericName[ru]=Dia — Редактор диаграмм
GenericName[sk]=Editor diagramov
GenericName[sl]=Urejevalnik diagrama
GenericName[sr]=Уређиваћ дијаграма
GenericName[sr@Latn]=Uređivać Dijagrama
GenericName[sr@latin]=Uređivać dijagrama
GenericName[sv]=Diagramredigerare
GenericName[ta]=வரைபட எடிட்டர்
GenericName[tr]=Diyagram Düzenleyicisi
GenericName[uk]=Редактор діаграм
GenericName[vi]=Bộ biên soạn sơ đồ
GenericName[zh_CN]=图表编辑器
GenericName[zh_HK]=圖表編輯器
GenericName[zh_TW]=圖表編輯器
Comment=Edit your Diagrams
Comment[ar]=حرّر مخطّطاتك
Comment[ast]=Edita los tos diagrames
Comment[bg]=Редактиране на диаграми
Comment[ca]=Editeu els vostres diagrames
Comment[ca@valencia]=Editeu els vostres diagrames
Comment[cs]=Upravte své diagramy
Comment[da]=Redigér diagrammer
Comment[de]=Diagramme bearbeiten
Comment[dz]=ཁྱོད་རའི་བཀོད་རིས་ ཞུན་དག་འབད་
Comment[el]=Επεξεργασθείτε τα διαγράμματα σας 
Comment[en_CA]=Edit your Diagrams
Comment[en_GB]=Edit your Diagrams
Comment[eo]=Redakti vian diagramojn
Comment[es]=Edite sus diagramas
Comment[eu]=Editatu diagramak
Comment[fi]=Muokkaa kaavioitasi
Comment[fr]=Éditer vos diagrammes
Comment[gl]=Editar os teus diagramas
Comment[gu]=તમારી આકૃતિઓમાં ફેરફાર કરો
Comment[hu]=Diagramok szerkesztése
Comment[id]=Edit Diagram Anda
Comment[ja]=ダイアグラムを編集します
Comment[ko]=도표 편집
Comment[lt]=Kurti diagramas
Comment[mr]=तुमची आकृती संपादीत करा
Comment[nb]=Rediger dine diagrammer
Comment[ne]=तपाईँको चित्रहरू सम्पादन गर्नुहोस्
Comment[nl]=Diagrammen bewerken
Comment[pl]=Edycja diagramów
Comment[pt]=Edite os seus Diagramas
Comment[pt_BR]=Edite os seus diagramas
Comment[ro]=Editați diagrama dumneavoastră
Comment[ru]=Редактировать ваши диаграммы
Comment[sk]=Upravovať vaše diagramy
Comment[sl]=Urejajte svoje diagrame
Comment[sr]=Уређујте ваше дијаграме
Comment[sr@Latn]=Uređivanje vaših dijagram
Comment[sr@latin]=Uređujte vaše dijagrame
Comment[sv]=Redigera dina diagram
Comment[ta]=உங்களின் வரைபடங்களை திருத்தவும்
Comment[th]=แก้ไขแผนภูมิของคุณ
Comment[uk]=Редагування Ваших діаграм
Comment[vi]=Hiệu chỉnh sơ đồ
Comment[zh_CN]=编辑您的图表
Comment[zh_HK]=編輯你的圖表
Comment[zh_TW]=編輯您的圖表
Type=Application
Exec=dia %F
Icon=dia
Terminal=false
Categories=GNOME;Graphics;
StartupNotify=true
MimeType=application/x-dia-diagram;
X-GNOME-Bugzilla-Bugzilla=GNOME
X-GNOME-Bugzilla-Product=dia
X-GNOME-Bugzilla-Component=general
X-GNOME-Bugzilla-Version=@0.97.3@

