[Desktop Entry]
Name=Eric python IDE
Name[es]=IDE para python Eric
Comment=Integrated Development Environment for Python
Comment[es]=Completo entorno de programaci贸n para Python
Comment[de]=Integrierte Entwicklungsumgebung für Python
GenericName=Integrated Development Environment for Python
GenericName[de]=Integrierte Entwicklungsumgebung für Python
Keywords=programming;code;python;ruby
Exec=eric
Terminal=false
Type=Application
MimeType=text/x-python;
Icon=eric
Categories=Development;IDE;
StartupNotify=true
