[Desktop Entry]
Version=1.0
Type=Application
Exec=eric5_webbrowser
MimeType=text/html;text/xml;application/xhtml+xml;x-scheme-handler/http;x-scheme-handler/https;
Icon=ericWeb
Terminal=false
Name=eric5 Web Browser
Name[de]=eric5 Web Browser
Comment=Web Browser for PyQt4
Comment[de]=Web Browser für PyQt4
GenericName=Web Browser
GenericName[de]=Web Browser
Categories=WebBrowser;
Keywords=programming;code;python;ruby
StartupNotify=true
