[Desktop Entry]
Name=Displays
Name[af]=Vertoonareas
Name[an]=Pantallas
Name[ar]=الشاشات
Name[as]=প্ৰদৰ্শনসমূহ
Name[ast]=Pantalles
Name[be]=Маніторы
Name[bg]=Екрани
Name[bn]=প্রদর্শন
Name[bn_IN]=প্রদর্শন
Name[ca]=Pantalles
Name[ca@valencia]=Pantalles
Name[crh]=Ekranlar
Name[cs]=Displeje
Name[da]=Skærme
Name[de]=Monitore
Name[el]=Οθόνες
Name[en_GB]=Displays
Name[eo]=Ekranoj
Name[es]=Pantallas
Name[et]=Kuvad
Name[eu]=Pantailak
Name[fa]=نمایشگرها
Name[fi]=Näytöt
Name[fr]=Écrans
Name[ga]=Taispeáintí
Name[gl]=Pantallas
Name[gu]=દેખાવો
Name[he]=תצוגות
Name[hi]=प्रदर्शक
Name[hu]=Kijelzők
Name[id]=Tampilan
Name[it]=Monitor
Name[ja]=ディスプレイ
Name[kk]=Экрандар
Name[km]=ទិដ្ឋភាព
Name[kn]=ಪ್ರದರ್ಶಕಗಳು
Name[ko]=디스플레이
Name[ku]=Dîmender
Name[ky]=Дисплейлер
Name[lt]=Ekranai
Name[lv]=Displeji
Name[mk]=Прикази
Name[ml]=പ്രദര്‍ശനങ്ങള്‍
Name[mr]=डिस्पलेज्
Name[nb]=Skjermer
Name[ne]=दृश्यकरण 
Name[nl]=Schermen
Name[nn]=Skjermar
Name[or]=ପ୍ରଦର୍ଶନୀଗୁଡ଼ିକ
Name[pa]=ਡਿਸਪਲੇਅ
Name[pl]=Ekrany
Name[pt]=Ecrãs
Name[pt_BR]=Telas
Name[ro]=Afișaje
Name[ru]=Мониторы
Name[sk]=Displeje
Name[sl]=Zasloni
Name[sr]=Екрани
Name[sr@latin]=Ekrani
Name[sv]=Skärmar
Name[ta]=காட்டிகள்
Name[te]=ప్రదర్శనలు
Name[tg]=Дисплейҳо
Name[th]=จอแสดงผล
Name[tr]=Ekranlar
Name[ug]=كۆرسەتكۈچلەر
Name[uk]=Екрани
Name[vi]=Thiết bị hiển thị
Name[zh_CN]=显示
Name[zh_HK]=顯示器
Name[zh_TW]=顯示器
Comment=Choose how to use connected monitors and projectors
Comment[af]=Kies hoe om ingepropte monitors en projektors te gebruik
Comment[an]=Trigar cómo usar as pantallas y os prochectors connectaus
Comment[ar]=اختر كيف تستخدم الشاشات و أجهزة عرض الشرائح
Comment[as]=সংযুক্ত মনিটৰসমূহ আৰু প্ৰক্ষেপকসমূহ কিধৰণে ব্যৱহাৰ কৰিব বাছক
Comment[be]=Настройка выкарыстання падлучаных манітораў і праектараў
Comment[bg]=Изберете как да се използват свързаните екрани и проектори
Comment[bn_IN]=সংযুক্ত মনিটর এবং প্রোজেক্টর কীভাবে ব্যবহার করতে হবে তা বাছুন
Comment[ca]=Trieu com utilitzar els monitors i projectors connectats
Comment[ca@valencia]=Trieu com utilitzar els monitors i projectors connectats
Comment[crh]=Bağlanğan monitorlar ve proyektorlarnıñ nasıl qullanılacağını sayla
Comment[cs]=Zvolit, jak se mají používat připojené monitory a projektory
Comment[da]=Vælg hvordan forbundne skærme og projektorer skal bruges
Comment[de]=Legt fest, wie angeschlossene Monitore und Projektoren arbeiten
Comment[el]=Επιλέξτε τον τρόπο χρήσης συνδεδεμένων οθονών και προβολέων
Comment[en_GB]=Choose how to use connected monitors and projectors
Comment[eo]=Elekti kiel uzi konektitajn ekranojn kaj projekciilojn
Comment[es]=Elegir cómo usar las pantallas y los proyectores conectados
Comment[et]=Kuvarite ja projektorite kasutuse muutmine
Comment[eu]=Aldatu konektatutako pantaila eta proiektagailuak nola erabiliko diren
Comment[fa]=نحوه استفاده از نمایشگرها و پروژکتورهای متصل شده را انتخاب کنید
Comment[fi]=Valitse kuinka näyttöjä ja projektoreja käsitellään
Comment[fr]=Choisir le mode d'utilisation des écrans et projecteurs connectés
Comment[gl]=Escolla como usar os monitores conectados e proxectores
Comment[gu]=કેવી રીતે મોનિટર અને પ્રોજેક્ટરને વાપરવુ તેને પસંદ કરો
Comment[he]=בחירה כיצד להשתמש בצגים ובמקרנים
Comment[hi]=जुड़े हुए मॉनिटर और प्रोजेक्टर का उपयोग करने के लिए चुनें
Comment[hu]=Csatlakoztatott monitorok és projektorok beállítása
Comment[id]=Pilih bagaimana menggunakan monitor dan proyektor yang tersambung
Comment[it]=Sceglie come usare i monitor e i proiettori connessi
Comment[ja]=接続したモニターやプロジェクターの使用方法を変更します。
Comment[kk]=Жалғанған мониторлар мен проекторларды қолдану тәсілін таңдаңыз
Comment[kn]=ಸಂಪರ್ಕಿತಗೊಳಿಸಲಾದ ಮಾನಿಟರುಗಳ ಹಾಗು ಪ್ರೊಜೆಕ್ಟರುಗಳನ್ನು ಹೇಗೆ ಬಳಸಬೇಕು ಎನ್ನುವುದನ್ನು ಆರಿಸಿ
Comment[ko]=연결한 모니터와 프로젝터 사용법을 정합니다
Comment[lt]=Pasirinkite, kaip naudoti prijungtus monitorius ir projektorius
Comment[lv]=Izvēlieties, kā izmantot pievienotos monitorus un projektorus
Comment[ml]=മോണിറ്ററുകളും പ്രൊജക്ടറുകളും എങ്ങനെ ഉപയോഗിക്കണമെന്ന് തെരഞ്ഞെടുക്കുക
Comment[mr]=जुळलेले मॉनिटर्स आणि प्रोजेक्टर्सचा वापर कसा करायचा ते पसंत करा
Comment[nb]=Velg hvordan tilkoblede skjermer og prosjektorer skal brukes
Comment[nl]=Kiezen hoe aangesloten beeldschermen en projectoren gebruikt worden
Comment[or]=ସଂଯୁକ୍ତ ମନିଟର ଏବଂ ପ୍ରଦର୍ଶିକାକୁ କିପରି ବ୍ୟବହାର କରିବେ ତାହା ବାଛନ୍ତୁ
Comment[pa]=ਚੁਣੋ ਕਿ ਮਾਨੀਟਰਾਂ ਤੇ ਪਰੋਜੈਕਟਰ ਨਾਲ ਕਿਵੇਂ ਜੁੜਨਾ ਹੈ
Comment[pl]=Wybór sposobu używania podłączonych monitorów i projektorów
Comment[pt]=Alterar como utilizar os monitores e projetores ligados
Comment[pt_BR]=Escolha como usar os monitores e projetores conectados
Comment[ru]=Выберите, как использовать подключённые мониторы и проекторы
Comment[sk]=Volí spôsob použitia pripojených displejov a projektorov
Comment[sl]=Izbor načina uporabe povezanih zaslonov in projektorjev
Comment[sr]=Изаберите како ћете користити повезане екране и пројекторе
Comment[sr@latin]=Izaberite kako ćete koristiti povezane ekrane i projektore
Comment[sv]=Välj hur anslutna skärmar och projektorer ska användas
Comment[ta]=இணைக்கப்பட்ட திரைகளையும் ஒளிப்படக்காட்டிகளையும் எப்படிப் பயன்படுத்த வேண்டும் எனத் தேர்வு செய்யவும்
Comment[te]=అనుసంధానిత మానిటర్స్ మరియు ప్రొజెక్టర్స్ యెలా వుపయోగించాలో యెంచుకొనుము
Comment[tg]=Интихоб кардани тарзи истифодаи мониторҳо ва проекторҳои пайвастшуда
Comment[th]=เลือกวิธีใช้งานจอภาพและเครื่องฉายที่เชื่อมต่ออยู่
Comment[tr]=Bağlanan ekranların ya da projektörlerin nasıl kullanılacağını seçin
Comment[uk]=Змінити використання під'єднаних моніторів та проекторів
Comment[vi]=Chọn cách dùng màn hình và máy chiếu được kết nối
Comment[zh_CN]=选择如何使用连接的显示器和投影仪
Comment[zh_HK]=選擇如何使用連接的顯示器和投影機
Comment[zh_TW]=選擇如何使用連接的顯示器和投影機
Exec=gnome-control-center display
Icon=preferences-desktop-display
Terminal=false
Type=Application
NoDisplay=true
StartupNotify=true
Categories=GNOME;GTK;Settings;HardwareSettings;X-GNOME-Settings-Panel;
OnlyShowIn=GNOME;Unity;
X-GNOME-Bugzilla-Bugzilla=GNOME
X-GNOME-Bugzilla-Product=gnome-control-center
X-GNOME-Bugzilla-Component=Screen resolution
X-GNOME-Bugzilla-Version=3.14.2
# Translators: those are keywords for the display control-center panel
Keywords=Panel;Projector;xrandr;Screen;Resolution;Refresh;Monitor;
Keywords[af]=Panel;Projector;xrandr;Screen;Resolution;Refresh;Monitor;lcd;projektor;skerm;resolusie;vertoon;
Keywords[as]=Panel;Projector;xrandr;Screen;Resolution;Refresh;Monitor;
Keywords[bg]=Панел;Проектор;Екран;Разделителна способност;Опресняване;Монитор;Дисплей;Panel;Projector;xrandr;Screen;Resolution;Refresh;Monitor;
Keywords[bn_IN]=প্যানেল;প্রোজেক্টর;xrandr;স্ক্রিন;রিজোলিউশন;সতেজ;মনিটর;
Keywords[ca]=Quadre;Projector;xrandr;Pantalla;Resolució;Refresca;Monitor;
Keywords[ca@valencia]=Quadre;Projector;xrandr;Pantalla;Resolució;Refresca;Monitor;
Keywords[cs]=panel;projektor;xrandr;obrazovka;rozlišení;obnovovací frekvence;monitor;displej;
Keywords[da]=Panel;Projektor;xrandr;Skærm;Opløsning;Opdatering;
Keywords[de]=Panel;Projektor;xrandr;Anzeige;Auflösung;Aktualisieren;Bildschirm;
Keywords[el]=Πάνελ;Προβολέας;xrandr;Οθόνη;Ανάλυση;Ανανέωση;Παρακολούθηση;Panel;Projector;Screen;Resolution;Refresh;Monitor;
Keywords[es]=Panel;Proyector;xranrd;Pantalla;Resolución;Actualizar;Monitor;
Keywords[eu]=Panela;Proiektagailua;xrandr;Pantaila;Bereizmena;Freskatu;Monitorea;
Keywords[fa]=تابلو;پروژکتور;xrandr;نمایشگر;تفکیک‌پذیری;نوسازی;
Keywords[fi]=Panel;Projector;xrandr;Screen;Resolution;Refresh;Monitor;Paneeli;Projektori;Näyttö;Resoluutio;Tarkkuus;Virkistystaajuus;
Keywords[fr]=Panneau;Projecteur;xrandr;Écran;Définition;Résolution;Rafraîchissement;
Keywords[gl]=Panel;Proxector;xrandr;Pantalla;Resolución;Refresco;Monitor;
Keywords[gu]=પેનલ;પ્રોજેક્ટર;xrandr;સ્ક્રીન;રિઝોલ્યુશન;તાજુ કરો;મોનિટર;
Keywords[he]=לוח;מקרן;xrandr;צג;מסך;רזולוציה;רענון;צג;
Keywords[hi]=पैनल;प्रोजेक्टर;xrandr;स्क्रीन;रिज़ॉल्यूशन;रिफ्रेश;मॉनिटर;
Keywords[hu]=Panel;Projektor;xrandr;Képernyő;Felbontás;Frissítés;Monitor;
Keywords[id]=Panel;Proyektor;xrandr;Layar;Resolusi;Segarkan;Monitor;
Keywords[it]=Pannello;Proiettore;xrandr;Schermo;Risoluzione;Dimensioni;Refresh;Display;Monitor;
Keywords[ja]=Panel;Projector;xrandr;Screen;Resolution;Refresh;パネル;プロジェクター;画面;解像度;リフレッシュ;モニター;ディスプレイ;ディスプレー;
Keywords[kk]=Панель;Проектор;xrandr;Экран;Ажыратылымдығы;Жаңарту;Монитор;
Keywords[kn]=ಪ್ಯಾನಲ್;ಪ್ರೊಜೆಕ್ಟರ್;xrandr;ತೆರೆ;ರೆಸಲ್ಯೂಶನ್;ಪುನಶ್ಚೇತನ;ಪರದೆ
Keywords[ko]=Panel;패널;Projector;프로젝터;xrandr;Screen;화면;Resolution;해상도;Refresh;주사율;Monitor;모니터;
Keywords[lt]=Skydelis;Projektorius;xrandr;Ekranas;Raiška;Atnaujinimas;Monitorius;
Keywords[lv]=Panelis;Projektors;xrandr;Ekrāns;Izšķirtspēja;Atsvaidzināt;Monitors;Panel;Projector;xrandr;Screen;Resolution;Refresh;Monitor;
Keywords[mr]=पॅनल;प्रोजेक्टर;xrandr;स्क्रीन;रेजोल्युशन;रिफ्रेश;मॉनिटर;
Keywords[nb]=Panel;Prosjektor;xrandr;Skjerm;Oppløsning;Oppdater;Skjerm;
Keywords[nl]=Panel;Projector;xrandr;Screen;Resolution;Refresh;Monitor;Paneel;Scherm;Resolutie;Ververs;Beeld;Beamer;
Keywords[or]=ପ୍ୟାନେଲ;ପ୍ରଦର୍ଶିକା;xrandr;ପରଦା;ବିଭେଦନ;ସତେଜ;ମନିଟର;
Keywords[pa]=ਪੈਨਲ;ਪਰੋਜੈਕਟਰ;xrandr;ਸਕਰੀਨ;ਰੈਜ਼ੋਲੂਸ਼ਨ;ਤਾਜ਼ਾ;ਮਾਨੀਟਰ;
Keywords[pl]=Panel;Projektor;xrandr;Ekran;Rozdzielczość;Odświeżanie;Monitor;
Keywords[pt_BR]=Painel;Projetor;xrandr;Tela;Resolução;Atualizar;Atualização;Monitor;
Keywords[ru]=Панель;Проектор;xrandr;Экран;Разрешение;Обновить;Монитор;
Keywords[sk]=Panel;Projektor;xrandr;Obrazovka;Rozlíšenie;Obnovovanie;Displej;
Keywords[sl]=Pult;Projektor;xrandr;Zaslon;Ločljivost;Osveževanje;
Keywords[sr]=панел;пројектор;икс-рандр;екран;резолуција;освежавање;монитор;
Keywords[sr@latin]=panel;projektor;iks-randr;ekran;rezolucija;osvežavanje;monitor;
Keywords[sv]=Panel;Projektor;xrandr;Skärm;Upplösning;Uppdatering;
Keywords[ta]=பலகம்;ஒளிப்படக்காட்டி;எக்ஸ்ரான்டர்;திரை;தெளிதிறன்;புதுப்பி;திரை
Keywords[te]=పానల్;ప్రొజెక్టర్;xrandr;తెర;రిజొల్యూషన్;రీఫ్రెష్;మానిటర్;
Keywords[tr]=Panel;Projector;xrandr;Screen;Resolution;Refresh;Monitor;Projektör;Ekran;Çözünürlük;Tazele;Yenile;Monitör;
Keywords[uk]=Панель;Проектори;xrandr;Екран;Роздільність;Оновлення;Монітор;
Keywords[zh_CN]=Panel;Projector;xrandr;Screen;Resolution;Refresh;Monitor;面板;投影仪;屏幕;分辨率;刷新;
Keywords[zh_HK]=Panel;Projector;xrandr;Screen;Resolution;Refresh;Monitor;面板;投影機;螢幕;解像度;重新整理;螢幕;
Keywords[zh_TW]=Panel;Projector;xrandr;Screen;Resolution;Refresh;Monitor;面板;投影機;螢幕;解析度;重新整理;螢幕;
