[Desktop Entry]
Name=Universal Access
Name[af]=Universele toegang
Name[an]=Acceso universal
Name[ar]=الإتاحة
Name[as]=সাৰ্বভৈমক অভিগম
Name[ast]=Accesu universal
Name[be]=Універсальны доступ
Name[bg]=Универсален достъп
Name[bn]=সর্বজনীনে প্রবেশ
Name[bn_IN]=সার্বজনীন ব্যবহারাধিকার
Name[ca]=Accés universal
Name[ca@valencia]=Accés universal
Name[crh]=Cihanşümul İrişim
Name[cs]=Univerzální přístup
Name[da]=Tilgængelighed
Name[de]=Barriere­frei­heit
Name[el]=Γενική πρόσβαση
Name[en_GB]=Universal Access
Name[eo]=Alirebleco
Name[es]=Acceso universal
Name[et]=Pärssimata juurdepääs
Name[eu]=Sarbide unibertsala
Name[fa]=دسترسی همگانی
Name[fi]=Esteettömyys
Name[fr]=Accès universel
Name[ga]=Rochtain Uilíoch
Name[gl]=Acceso universal
Name[gu]=સાર્વત્રિક વપરાશ
Name[he]=גישה אוניברסלית
Name[hi]=सार्वभौमिक पहुँच
Name[hu]=Akadály­mentesítés
Name[hy]=Համընդհանուր Հասանելիություն
Name[id]=Akses Universal
Name[it]=Accesso universale
Name[ja]=ユニバーサルアクセス
Name[kk]=Арнайы мүмкіндіктер
Name[km]=ចូល​ដំណើរការ​សកល
Name[kn]=ಜಾಗತಿಕ ನಿಲುಕಣೆ
Name[ko]=접근성
Name[ky]=Универсалдык жетүү
Name[lt]=Universali prieiga
Name[lv]=Universālā piekļuve
Name[mk]=Универзален пристап
Name[ml]=സാര്‍വ്വജനികലഭ്യത
Name[mr]=युनिवर्सल ॲकसेस
Name[nb]=Universell tilgang
Name[ne]=विश्वब्यापी पहुँच
Name[nl]=Universele toegang
Name[nn]=Tilgjenge
Name[or]=ସାର୍ବଜନିକ ଅଭିଗମ୍ୟତା
Name[pa]=ਯੂਨੀਵਰਸਲ ਅਸੈੱਸ
Name[pl]=Ułatwienia dostępu
Name[pt]=Acesso Universal
Name[pt_BR]=Acessibilidade
Name[ro]=Acces universal
Name[ru]=Универсальный доступ
Name[sk]=Bezbariérový prístup
Name[sl]=Splošni dostop
Name[sr]=Универзални приступ
Name[sr@latin]=Univerzalni pristup
Name[sv]=Hjälpmedel
Name[ta]=உலகளாவிய அணுகல்
Name[te]=సార్వత్రిక ప్రాప్తి
Name[tg]=Дастрасии умумӣ
Name[th]=การเข้าถึงหลากหลาย
Name[tr]=Evrensel Erişim
Name[ug]=ئۇنىۋېرسال زىيارەت
Name[uk]=Універсальний доступ
Name[vi]=Hỗ trợ truy cập
Name[zh_CN]=通用辅助功能
Name[zh_HK]=無障礙功能
Name[zh_TW]=無障礙功能
Comment=Make it easier to see, hear, type, point and click
Comment[af]=Maak sien, hoor, tik, wys en klik makliker
Comment[an]=Fer mas sencillo de veyer, escuitar, escribir y apuntar y pretar
Comment[ar]=اجعل الرؤية و السماع و الكتابة و المؤشر أسهل
Comment[as]=চোৱা, শুনা, টাইপ কৰা, পোইন্ট আৰু ক্লিক কৰাটো সহজ কৰক
Comment[be]=Дапамога для зроку, слыху, уводу, а таксама кіравання паказальнікам мышы
Comment[bg]=По-лесно да се вижда, чува, въвежда текст, посочват и натискат обекти
Comment[bn_IN]=এটিকে দেখা, শোনা, ধরন, পয়েন্ট এবং ক্লিক করা সহজতর করুন
Comment[ca]=Feu més fàcil veure, escoltar, teclejar, apuntar i fer clic
Comment[ca@valencia]=Feu més fàcil veure, escoltar, teclejar, apuntar i fer clic
Comment[cs]=Zjednodušit vidění, poslech, psaní a klikání
Comment[da]=Gør det nemmere at se, høre, skrive, pege og klikke
Comment[de]=Sehen, Hören, Tippen, Zeigen und Klicken erleichtern
Comment[el]=Κάντε πιο εύκολη την προβολή, την ακρόαση, την πληκτρολόγηση, την κατάδειξη και το κλικ
Comment[en_GB]=Make it easier to see, hear, type, point and click
Comment[es]=Hacer más sencillo de ver, escuchar, escribir y apuntar y pulsar
Comment[et]=Nägemise, kuulmise, sisestamise ning klõpsamise lihtsustamine
Comment[eu]=Egin errazagoa ikusteko, entzuteko, idazteko, kokatzeko eta klik egiteko
Comment[fa]=نگاه کردن، شنیدن، تایپ کردن، نشانه رفتن و کلیک کردن را ساده‌تر کنید
Comment[fi]=Helpota näkemistä, kuulemista, kirjoittamista ja hiiren käyttöä
Comment[fr]=Faciliter la vision, l'écoute, la saisie, la sélection et le clic
Comment[gl]=Faga máis doado ver, escoitar, escribir, apuntar e clicar
Comment[gu]=તેને જોવા, સાંભળવા, ટાઇપ, નિર્દેશિત અને ક્લિક કરવાનું સરળ બનાવો
Comment[he]=להקל ראייה, שמיעה, הקלדה, הצבעה ולחיצה
Comment[hi]=इसे देखना, सुनना, प्रकार, बिंदु और क्लिक करें आसान बनाओ
Comment[hu]=A látás, hallás, gépelés, mutatás és kattintás egyszerűbbé tétele
Comment[id]=Membuat lebih mudah untuk melihat, mendengar, mengetik, menunjuk, dan mengklik
Comment[it]=Rende più semplice vedere, ascoltare, digitare e fare clic
Comment[ja]=見る、聞く、タイピング、クリック操作など、コンピューターを簡単に使えるようにします
Comment[kk]=Көру, есту, теру, көрсету және шертуді жеңілдету
Comment[kn]=ನೋಡಲು, ಕೇಳಲು, ಬರೆಯಲು, ತೋರಿಸಲು ಮತ್ತು ಕ್ಲಿಕ್ ಮಾಡಲು ಸುಲಭಗೊಳಿಸು
Comment[ko]=보기, 듣기, 타이핑, 누르기 편의 사항
Comment[lt]=Padarykite matymą, išgirdimą, rašymą, rodymą ir spaudimą paprastesnį
Comment[lv]=Padarīt vienkāršāku redzēšanu, dzirdēšanu, rakstīšanu un klikšķināšanu
Comment[ml]=കാഴ്ച്ച, കേൾവി, മുദ്രണം, പോയിന്റ്, ക്ലിക്ക് എന്നിവ മെച്ചപെടുത്തുക
Comment[mr]=अवलोकन, ऐकणे, टाइप, पॉइंट आणि क्लिककरिता सोपे करा
Comment[nb]=Gjør det lettere å se, høre, skrive og peke og klikke
Comment[ne]=हर्न, सुन्न, टाईप, देखाउन र क्लिक गर्न सहज बनाउनुहोस्
Comment[nl]=Zien, horen, typen, aanwijzen en klikken vergemakkelijken
Comment[or]=ଏହାକୁ ଦେଖିବା, ଶୁଣିବା, ଲେଖିବା, ଦର୍ଶାଇବା ଏବଂ କ୍ଲିକ କରିବା ପାଇଁ ସହଜମୟ କରନ୍ତୁ
Comment[pa]=ਵੇਖਣਾ, ਸੁਣਨਾ, ਲਿਖਣਾ, ਪੁਆਇੰਟ ਤੇ ਕਲਿੱਕ ਕਰਨਾ ਸੌਖਾ ਬਣਾਉ
Comment[pl]=Ułatwienia widzenia, słyszenia, pisania oraz wskazywania i klikania
Comment[pt]=Tornar mais simples ver, ouvir, escrever, apontar e clicar
Comment[pt_BR]=Torna mais fácil ver, ouvir, digitar, apontar e clicar
Comment[ru]=Упрощение ввода, наведения и нажатия, а также улучшение видимости и слышимости
Comment[sk]=Uľahčuje videnie, písanie, počúvanie, ukazovanie a klikanie
Comment[sl]=Naj bo enostavnejše videti, slišati, tipkati, kazati in klikati
Comment[sr]=Олакшајте посматрање, слушање, куцање, указивање и кликање
Comment[sr@latin]=Olakšajte posmatranje, slušanje, kucanje, ukazivanje i klikanje
Comment[sv]=Gör det enklare att se, höra, skriva, peka och klicka
Comment[ta]=பார்ப்பது, கேட்பது, தட்டச்சு செய்வது, சுட்டுவது மற்றும் சொடுக்குவது அனைத்தையும் எளிதாக்கவும்
Comment[te]=చూడుటకు, వినుటకు, టైపునకు, సూచించుటకు మరియు నొక్కుటకు దీనిని సులభతరం చేయి
Comment[tg]=Осон кардани дидан, шунидан, нуқта гузоштан ва зер кардан
Comment[tr]=Görme, duyma, yazma, işaretleme ve tıklamayı kolaylaştır.
Comment[uk]=Полегшує читання, слухання, набирання, наведення і натискання
Comment[vi]=Làm cho việc xem, nghe, gõ , di và bấm chuột trở nên dễ dàng hơn
Comment[zh_CN]=使看、听、打字、指、点更加容易
Comment[zh_HK]=讓電腦更容易看、聽、輸入、指向與點選
Comment[zh_TW]=讓電腦更容易看、聽、輸入、指向與點選
Exec=gnome-control-center universal-access
Icon=preferences-desktop-accessibility
Terminal=false
Type=Application
NoDisplay=true
StartupNotify=true
Categories=GNOME;GTK;Settings;X-GNOME-SystemSettings;X-GNOME-Settings-Panel;
OnlyShowIn=GNOME;Unity;
X-GNOME-Bugzilla-Bugzilla=GNOME
X-GNOME-Bugzilla-Product=gnome-control-center
X-GNOME-Bugzilla-Component=Universal Access
X-GNOME-Bugzilla-Version=3.14.2
# Translators: those are keywords for the universal access control-center panel
Keywords=Keyboard;Mouse;a11y;Accessibility;Contrast;Zoom;Screen;Reader;text;font;size;AccessX;Sticky;Keys;Slow;Bounce;Mouse;
Keywords[af]=Keyboard;Mouse;a11y;Accessibility;Contrast;Zoom;Screen;Reader;text;font;size;AccessX;Sticky;Keys;Slow;Bounce;Mouse;sleutelbord;muis;toeganklikheid;kontras;zoem;skermleser;teks;lettertipe;grootte;kleefsleutels;stadige sleutels;bonssleutels;muissleutels;
Keywords[an]=Teclau;Churi;a11y;Accesibilidat;Contraste;Zoom;Pantalla;Lector;texto;fuent;Grandaria;AccessX;Persistents;Teclas;Lentas;Refuso;Churi;
Keywords[ar]=لوحة المفاتيح;الفأرة;الإتاحة;التباين;التقريب;التكبير;قارئ الشاشة;النص;الخط;الحجم;مفاتيح ملتصقة;مفاتيح بطيئة;مفاتيح قافزة;مفاتيح الفأرة;
Keywords[as]=কিবৰ্ড;মাউছ;a11y;অভিগম্যতা;কনট্ৰাস্ট;জুম;পৰ্দা;ৰিডাৰ;লিখনি;ফন্ট;আকাৰ;AccessX;স্টিকি; কিসমূহ;লেহেম;বাউন্স;মাউছ;
Keywords[be]=Клавіятура;Мыш;a11y;Даступнасць;Абмежаваныя магчымасці;Інвалід;Кантраснасць;Маштабаванне;Чытач;Экран;тэкст;шрыфт;памер;AccessX;Грузкія;Клавішы;Марудныя;Рыкашэтныя;Мыш;
Keywords[bg]=Клавиатура;Мишка;Достъпност;Контраст;Увеличение;Четец на екрана;Текст;Шрифт;Размер;Лепкави клавиши;Бавни клавиши;Подскачащи клавиши;Бутони на мишката;Keyboard;Mouse;a11y;Accessibility;Contrast;Zoom;Screen;Reader;text;font;size;AccessX;Sticky;Keys;Slow;Bounce;Mouse;
Keywords[bn_IN]=কীবোর্ড;মাউস;a11y;অ্যাক্সেসযোগ্যতা;প্রাবল্যতা;জুম;স্ক্রিন;রিডার;পাঠ্য;হরফ;মাপ;AccessX;স্টিকি;কী;মন্থর;বাউন্স;মাউস;
Keywords[ca]=Teclat;Ratolí;a11y;Accessibilitat;Contrast;Zoom;Pantalla;Lector;text;lletra;mida;AccessX;Tecles enganxoses;Tecles;Lent;Salt;Ratolí;
Keywords[ca@valencia]=Teclat;Ratolí;a11y;Accessibilitat;Contrast;Zoom;Pantalla;Lector;text;lletra;mida;AccessX;Tecles enganxoses;Tecles;Lent;Salt;Ratolí;
Keywords[cs]=klávesnice;myš;a11y;přístupnost;kontrast;přiblížení;zvětšení;čtečka obrazovky;čtení obrazovky;text;písmo;font;velikost;přístup;kombinace kláves jedním prstem;pomalé klávesy;vícenásobná zmáčknutí kláves;klávesnice myší;
Keywords[da]=Tastatur;Mus;a11y;Tilgængelighed;Kontrast;Zoom;Skærm;Skærmoplæser;Oplæser;tekst;skrifttype;størrelse;AccessX;Klæbetaster;Langsomme taster;Rystetaster;Musetaster;
Keywords[de]=Tastatur;Maus;a11y;Barrierefreiheit;Kontrast;Zoom;Vergrößern;Bildschirm;Bildschirmleser;Text;Schrift;Größe;AccessX;Klebrige Tasten;Tasten;Langsam;Springende Tasten;Tastaturmaus;
Keywords[el]=Πληκτρολόγιο;Ποντίκι;a11y;Προσιτότητα;Αντίθεση;Εστίαση;Οθόνη;Αναγνώστης;κείμενο;γραμματοσειρά;μέγεθος;AccessX;Κολλημένο; Πλήκτρα;Αργά;Αναπήδηση;Ποντίκι;Keyboard;Mouse;Accessibility;Contrast;Zoom;Screen;Reader;text;font;size;Sticky;Keys;Slow;Bounce;Mouse;
Keywords[es]=Teclado;Ratón;a11y;Accesibilidad;Contraste;Ampliación;Lector;Pantalla;texto;tipografía;tamaño;AccessX;Teclas; Persistentes;Lentas;Rechazo;
Keywords[et]=Klaviatuur;Klaver;Hiir;a11y;Hõlbustused;Ligipääsetavus;Kontrast;Suurendus;Suum;Ekraanilugeja;tekst;font;suurus;AccessX;Kleepuvad klahvid;Aeglased;Aeglane;Põrkeklahvid;Hiir;
Keywords[eu]=Teklatua;Sagua;a11y;Erabilgarritasuna;Kontrastea;Zooma;Pantaila;Irakurlea;testua;letra-tipoa;tamaina;AccessX;Tekla itsaskorrak;Tekla motelak;Errebote teklak;Sagua;
Keywords[fa]=صفحه‌کلید;موشی;a11y;دسترسی‌پذیری;سایه روشن;زوم;صفحه‌نمایش خوان;متن;قلم;اندازه;AccessX;کلیدهای چسبان;کلیدهای آرام;کلیدهای پرشی;کلیدهای موشی;
Keywords[fi]=Keyboard;Mouse;a11y;Accessibility;Contrast;Zoom;Screen;Reader;text;font;size;AccessX;Sticky;Keys;Slow;Bounce;Mouse;Näppäimistö;Hiiri;a11y;Esteettömyys;Kontrasti;Zoom;Mittakaava;Lähennys;Loitonnus;Näytönlukija;teksti;fontti;kirjasin;koko;AccessX;Pohjaan jäävät näppäimet;Hitaat näppäimet;Kimmonäppäimet;Hiiren painikkeet;
Keywords[fr]=Clavier;Souris;lien;Accessibilité;Contraste;Zoom;Lecteur d'écran;texte;police;taille;Touches rémanentes;Touches lentes;Rebonds de touches;Touches de la souris;
Keywords[gl]=Teclado;Rato;a11y;Accesibilidade;Contraste;Ampliación;Lector de pantalla;texto;tipo de letra;tamaño;AccessX;Persistente;Lenta;Rexeite;Rato;
Keywords[gu]=કિબોર્ડ;માઉસ;a11y;સુલભતા;ભેદ;નાનું મોટુ કરો;સ્ક્રીન વાંચક;લખાણ;ફોન્ટ;માપ;AccessX;સ્ટીકી;કી;ધીમી;બાઉન્સ;માઉસ;
Keywords[he]=מקלדת;עכבר;a11y;נגישות;ניגודיות;ניגוד;תקריב;זום;מקריא מסך;טקסט;גופן;גודל;AccessX;מקשים דביקים;מקשים אטיים;מקשים חוזרים;מקשי עכבר;
Keywords[hi]=कुंजीपटल;माउस;a11y;एक्सेसिबिलिटी;कंट्रास्ट;ज़ूम;स्क्रीन;रीडर;पाठ;फ़ॉन्ट;आकार;एक्सेसX;स्टिकी;कुंजी;धीमी;बाउंस;माउस;
Keywords[hu]=Billentyűzet;Egér;a11y;Akadálymentesítés;Kontraszt;Nagyítás;Képernyő;Olvasó;szöveg;betű;méret;AccessX;Ragadós;Billentyűk;Lassú;Pattogó;Egér;
Keywords[id]=Papan;Tik;Ketik;Tetikus;a11y;Aksesibilitas;Kontras;Zum;Pembaca;Layar;teks;fonta;ukuran;AccessX;Lengket;Lambat;Pantul;Tombol;Keyboard;Mouse;
Keywords[it]=Tastiera;Mouse;a11y;Accessibilità;Contrasto;Ingrandimento;Zoom;Screen;Reader;Lettore;schermo;testo;font;tipo di carattere;dimensione;AccessX;Tasti;Singoli;Sticky;Lenti;Slow;Rimbalzati;Slow;Mouse;
Keywords[ja]=Keyboard;Mouse;a11y;Accessibility;Contrast;Zoom;Screen Reader;text;font;size;AccessX;Sticky;Keys;Slow;Bounce;Mouse;キーボード;マウス;アクセシビリティ;コントラスト;ズーム;拡大鏡;スクリーンリーダー;テキスト;文字;フォント;サイズ;大きさ;固定;キー;スロー;バウンス;マウス;
Keywords[kn]=ಕೀಲಿಮಣೆ;ಮೌಸ್;a11y;ನಿಲುಕು;ಕಾಂಟ್ರಾಸ್ಟ್;ಗಾತ್ರಬದಲಾವಣೆ;ತೆರೆ ಓದುಗ;ಪಠ್ಯ;ಅಕ್ಷರಶೈಲಿ;ಗಾತ್ರ;AccessX;ಸ್ಟಿಕಿ;ಕೀಲಿಗಳು;ನಿಧಾನಗತಿ;ಪುಟಿಯುವ;ಮೌಸ್‌;
Keywords[ko]=Keyboard;키보드;Mouse;마우스;a11y;Accessibility;접근성;Contrast;대비;Zoom;확대;축소;Screen;Reader;스크린;리더;화면;읽기;text;텍스트;font;size;폰트;글꼴;크기;AccessX;Sticky;Keys;고정;키;Slow;느린;Bounce;탄력;Mouse;마우스;
Keywords[lt]=Klaviatūra;Pelė;a11y;Prieinamumas;Kontrastas;Mastelis;Ekranas;Skaityklė;tekstas;šriftas;dydis;AccessX;Kibūs;Klavišai;Lėtieji;Pasikartojantys;Pelė; klavišai;
Keywords[lv]=Tastatūra;Pele;a11y;Pieejamība;Kontrasts;Mērogs;Tuvināt;Ekrāna lasītājs;teksts; fonts;izmērs;AccessX;Lipīgie;Taustiņi;Lēnie;Atlecošie;Peles;Keyboard;Mouse;a11y;Accessibility;Contrast;Zoom;Screen Reader;text;font;size;AccessX;Sticky;Keys;Slow;Bounce;Mouse;
Keywords[mr]=किबोर्ड;माऊस;ॲलि;ॲक्सेसिबिलिटि;काँट्रास्ट;झूम;स्क्रीन;रिडर;टेक्स्ट;फाँट;आकार;ॲक्सेसएक्स;स्किकि;किज;स्लो किज्;बाउंस;माऊस;
Keywords[nb]=Tastatur;Mus;a11y;Tilgjengelighet;Kontrast;Zoom;Skjerm;Leser;tekst;skrift;størrelse;AccessX;Klebrige;Taster;Trege;Sprett;Mus;
Keywords[nl]=Keyboard;Mouse;a11y;Accessibility;Contrast;Zoom;Screen Reader;text;font;size;AccessX;Sticky Keys;Plaktoetsen;Slow Keys;Trage toetsen;Bounce Keys;Springende toetsen;Mouse Keys;Muistoetsen;Toetsenbord;Toegankelijkheid;Tekst;Lettertype;vergroten;
Keywords[or]=କିବୋର୍ଡ;ମାଉସ;a11y;ପ୍ରବେଶାନୁମତି;ବିଭେଦନ;ସାନ ବଡ଼;ପରଦା ପାଠକ;ପରୀକ୍ଷା;ଅକ୍ଷରରୂପ;ଆକାର;ଅଭିଗମ୍ୟX;ଷ୍ଟିକି; କି;ମନ୍ଥର;ବାଉନ୍ସ;ମାଉସ;
Keywords[pa]=Keyboard;Mouse;a11y;Accessibility;Contrast;Zoom;Screen;Reader;text;font;size;AccessX;Sticky;Keys;Slow;Keys;Bounce;Keys;Mouse;Keys;ਕੀਬੋਰਡ;,ਮਾਊਸ;ਫੋਂਟ;ਟੈਕਸਟ;ਆਕਾਰ;ਬਾਊਂਸ;ਕੀ-ਬੋਰਡ;ਸਵਿੱਚਾਂ,ਕੀ;ਅਸੈਸਬਲਿਟੀ;ਜ਼ੂਮ;
Keywords[pl]=Klawiatura;Mysz;a11y;Dostępność;Uniwersalny;Kontrast;Przybliżanie;Czytnik;ekranowy;tekst;font;czcionka;rozmiar;AccessX;Trwałe;Klawisze;Powolne;Odbijające;Myszy;
Keywords[pt]=Teclado;Rato;a11y;Acessibilidade;Contraste;Zoom;Leitor de Ecrã;texto;fonte;tamanho;AccessX;Teclas coladas;Teclas Lentas;Teclas Saltantes;Rato;
Keywords[pt_BR]=Teclado;Mouse;a11y;Acessibilidade;Contraste;Zoom;Ampliação;Leitor de tela;texto;fonte;tamanho;AccessX;Teclas;Lentas;Repercussão;Mouse;
Keywords[ro]=Keyboard;Mouse;a11y;Accessibility;Contrast;Zoom;Screen;Reader;text;font;size;AccessX;Sticky;Keys;Slow;Bounce;Mouse;Tastatură;Maus;Cititor;Ecran;
Keywords[ru]=Клавиатура;Мышь;a11y;Специальные;возможности;Контрастность;Масштаб;Экран;Чтение;текст;шрифт;размер;AccessX;Залипающие;клавиши;Медленные;Отскакивающие;
Keywords[sk]=Klávesnica;Myš;a11y;Zjednodušenie;Ovládanie;Prístupnosť;Kontrast;Lupa;Obrazovka;Čítačka obrazovky;text;písmo;veľkosť;AccessX;Lepkavé;Klávesy;Pomalé;Poskakujúce;Myš;
Keywords[sl]=Tipkovnica;miška;a11y;dostopnost;kontrast;približanje;zaslon;bralnik;besedilo;pisava;velikost;AccessX;lepljive;počasne;odskočne;tipke;
Keywords[sr]=тастатура;миш;a11y;приступачност;контраст;зум;читач;екран;текст;слова;величина;Икс_приступ;лепљиви;тастери;спори;одскочни;миш;
Keywords[sr@latin]=tastatura;miš;a11y;pristupačnost;kontrast;zum;čitač;ekran;tekst;slova;veličina;Iks_pristup;lepljivi;tasteri;spori;odskočni;miš;
Keywords[sv]=Tangentbord;Mus;a11y;Hjälpmedel;Kontrast;Zoom;Skärmläsare;text;typsnitt;storlek;AccessX;Klistriga tangenter;Tröga tangenter;Studsande tangenter;Mustangenter;
Keywords[ta]=Keyboard;Mouse;a11y;Accessibility;Contrast;Zoom;Screen;Reader;text;font;size;AccessX;Sticky;Keys;Slow;Bounce;Mouse;
Keywords[te]=Keyboard;Mouse;a11y;Accessibility;Contrast;Zoom;Screen;Reader;text;font;size;AccessX;Sticky;Keys;Slow;Bounce;Mouse;
Keywords[tg]=Клавиатура;Муш;a11y;Қобилияти дастрасӣ;Контраст;Танзими андоза;Хонанда;Экран;матн;шрифт;андоза;AccessX;Тугмаҳои часпак;Тугмаҳои суст;Тугмаҳои ҷаҳиш;Тугмаҳои муш;
Keywords[tr]=Klavye;Fare;a11y;e13k;Erişilebilirlik;Karşıtlık;Yakınlaştırma;Ekran;Okuyucusu;metin;yazı tipi;boyut;AccessX;Yapışkan;Tuşlar;Yavaş;Seken;Fare;
Keywords[uk]=Клавіатура;Миша;a11y;Доступність;Контраст;Масштаб;Читач екрана;текст;шрифт;розмір;AccessX;Липкі;Повільні;Пружні;Кнопки;Клавіші;
Keywords[zh_CN]=Keyboard;Mouse;a11y;Accessibility;Contrast;Zoom;Screen Reader;text;font;size;AccessX;Sticky Keys;Slow Keys;Bounce Keys;Mouse Keys;键盘;辅助功能;对比度;缩放;屏幕读取器;文本;字体;大小;粘滞键;慢速键;回弹键;鼠标;
Keywords[zh_HK]=Keyboard;Mouse;a11y;Accessibility;Contrast;Zoom;Screen Reader;text;font;size;AccessX;Sticky;Keys;Slow;Bounce;Mouse;鍵盤;滑鼠;無障礙;對比;螢幕;閱讀器;文字;字型;大小;相黏;遲緩;反彈;滑鼠;鍵;按鍵
Keywords[zh_TW]=Keyboard;Mouse;a11y;Accessibility;Contrast;Zoom;Screen Reader;text;font;size;AccessX;Sticky;Keys;Slow;Bounce;Mouse;鍵盤;滑鼠;無障礙;對比;螢幕;閱讀器;文字;字型;大小;相黏;遲緩;反彈;滑鼠;鍵;按鍵
