[Desktop Entry]
Name=Background
Name[af]=Agtergrond
Name[an]=Fondo
Name[ar]=الخلفية
Name[as]=পটভূমি
Name[ast]=Fondu de pantalla
Name[be]=Абрус
Name[be@latin]=Fon
Name[bg]=Фон
Name[bn]=পটভূমি
Name[bn_IN]=পটভূমি
Name[br]=Drekleur
Name[ca]=Fons
Name[ca@valencia]=Fons
Name[crh]=Arqazemin
Name[cs]=Pozadí
Name[da]=Baggrund
Name[de]=Hinter­grund
Name[dz]=རྒྱབ་གཞི་
Name[el]=Παρασκήνιο
Name[en@shaw]=𐑚𐑨𐑒𐑜𐑮𐑬𐑯𐑛
Name[en_GB]=Background
Name[eo]=Fono
Name[es]=Fondo
Name[et]=Taust
Name[eu]=Atzeko planoa
Name[fa]=پس‌زمینه
Name[fi]=Taustakuva
Name[fr]=Arrière-plan
Name[ga]=Cúlra
Name[gl]=Fondo
Name[gu]=પાશ્વ ભાગ
Name[he]=רקע
Name[hi]=पृष्ठभूमि
Name[hr]=Pozadina
Name[hu]=Háttér
Name[id]=Latar Belakang
Name[it]=Sfondo
Name[ja]=背景
Name[ka]=ფონი
Name[kk]=Фон
Name[km]=ផ្ទៃ​ខាង​ក្រោយ
Name[kn]=ಹಿನ್ನಲೆ ಚಿತ್ರ
Name[ko]=배경
Name[ku]=Rûerd
Name[ky]=Фон
Name[lt]=Fonas
Name[lv]=Fons
Name[mai]=पृष्ठभूमि
Name[mk]=Позадина
Name[ml]=പശ്ചാത്തലം
Name[mr]=पार्श्वभूमी
Name[ms]=Latar Belakang
Name[my]=နောက်ခံပုံ
Name[nb]=Bakgrunn
Name[nds]=Achtergrund
Name[ne]=पृष्ठभूमि
Name[nl]=Achtergrond
Name[oc]=Fons
Name[or]=ପୃଷ୍ଠଭୂମି
Name[pa]=ਬੈਕਗਰਾਊਂਡ
Name[pl]=Tło
Name[pt]=Fundo
Name[pt_BR]=Plano de fundo
Name[ro]=Fundal
Name[ru]=Фон
Name[si]=පසුබිම
Name[sk]=Pozadie
Name[sl]=Ozadje
Name[sq]=Sfondi
Name[sr]=Позадина
Name[sr@latin]=Pozadina
Name[sv]=Bakgrund
Name[ta]=பின்னணி
Name[te]=నేపథ్యం
Name[tg]=Пасзамина
Name[th]=พื้นหลัง
Name[tr]=Arkaplan
Name[ug]=تەگلىك
Name[uk]=Тло
Name[uz]=Orqa fon
Name[uz@cyrillic]=Орқа фон
Name[vi]=Ảnh nền
Name[zh_CN]=背景
Name[zh_HK]=背景
Name[zh_TW]=背景
Comment=Change your background image to a wallpaper or photo
Comment[af]=Verander die agtergrondbeeld na muurpapier of 'n foto
Comment[an]=Cambiar a imachen de fondo d'escritorio por un tapiz u una foto
Comment[ar]=غيّر صورة الخلفية
Comment[as]=আপোনাৰ পটভূমি ছবিক এটা ৱালপেপাৰ অথবা ফ'টোলে পৰিবৰ্তন কৰক
Comment[be]=Настройка фонавай выявы
Comment[bg]=Смяна на фона да е снимка или картина
Comment[bn_IN]=অাপনার পটভূমি ছবি কোনো ওয়ালপেপার বা ফোটোতে পরিবর্তন করুন
Comment[ca]=Canvieu la imatge de fons a un fons de pantalla o fotografia
Comment[ca@valencia]=Canvieu la imatge de fons a un fons de pantalla o fotografia
Comment[crh]=Arqazemin suretiñizni bir divar kâğıtına yaki fotoğa deñiştiriñiz
Comment[cs]=Změnit obrázek na pozadí na tapetu nebo fotografii
Comment[da]=Ændr dit baggrundsbillede
Comment[de]=Verwenden Sie für den Hintergrund ein Bild oder ein Foto
Comment[el]=Αλλάξτε την εικόνα παρασκηνίου με μια ταπετσαρία ή φωτογραφία
Comment[en_GB]=Change your background image to a wallpaper or photo
Comment[eo]=Ŝanĝi vian fonan bildon al ekranfono aŭ foto
Comment[es]=Cambiar la imagen de fondo de escritorio por un tapiz o una foto
Comment[et]=Taustapildi muutmine, foto või tapeedi kasutamine
Comment[eu]=Aldatu atzeko planoko irudia horma-paper edo argazki batera
Comment[fa]=تصویر پس‌زمینه‌ی خود را به یک کاغذ دیواری یا عکس تغییر دهید
Comment[fi]=Vaihda taustakuva
Comment[fr]=Remplacer votre image d'arrière-plan par un papier peint ou une photo
Comment[gl]=Cambie a súa imaxe de fondo a un fondo de pantalla ou foto
Comment[gu]=વોલપેપર અથવા ફોટોમાં તમારાં ઇમેજનાં પાશ્ર્વભાગને બદલો
Comment[he]=החלפת תמונת הרקע שלך לצילום או ליצירת אומנות
Comment[hi]=एक वॉलपेपर या तस्वीर का उपयोग करके अपनी पृष्ठभूमि छवि बदलें
Comment[hu]=Háttérkép módosítása tapétára vagy fényképre
Comment[id]=Ubah gambar latar Anda ke suatu wallpaper atau foto
Comment[it]=Cambia la propria immagine di sfondo con un rivestimento o una foto
Comment[ja]=背景画像を変更します。
Comment[kk]=Фон суретін түсқағазға немесе фотосуретке алмастырыңыз
Comment[kn]=ನಿಮ್ಮ ಹಿನ್ನಲೆ ಚಿತ್ರವನ್ನು ಒಂದು ವಾಲ್‌ಪೇಪರ್ ಅಥವ ಫೋಟೊದಿಂದ ಬದಲಾಯಿಸಿ
Comment[ko]=배경을 그림이나 사진으로 바꿉니다
Comment[lt]=Pakeiskite fono paveikslėlį fonu arba nuotrauka
Comment[lv]=Maini savu fona attēlu uz tapeti vai fotogrāfiju
Comment[ml]=നിങ്ങളുടെ പശ്ചാത്തലചിത്രത്തെ ചുമർചിത്രമോ അല്ലെങ്കിൽ ചിത്രമോ ആയി മാറ്റുക
Comment[mr]=पार्श्वभूमी प्रतिमांना वॉलपेपर किंवा छायाचित्रकरिता बदलवा
Comment[ms]=Tukar imej latar dengan gambar dinding atau foto
Comment[nb]=Bytt bakgrunnsbilde
Comment[ne]=पृष्ठभुमिको छवि वालपेपर वा फोटो मा परिनत गर्नुहोस्
Comment[nl]=Achtergrond wijzigen in een achtergrondafbeelding of foto
Comment[or]=ଆପଣଙ୍କର ପୃଷ୍ଠଭୂମି ପ୍ରତିଛବିକୁ  ୱାଲପେପର୍‌ କିମ୍ବା ଫୋଟୋ ଆକାରରେ ପରିବର୍ତ୍ତନ କରନ୍ତୁ
Comment[pa]=ਆਪਣੇ ਬੈਕਗਰਾਊਂਡ ਚਿੱਤਰ ਨੂੰ ਵਾਲਪੇਪਰ ਜਾਂ ਫੋਟੋ ਨਾਲ ਬਦਲੋ
Comment[pl]=Zmiana obrazu tła na tapetę lub zdjęcie
Comment[pt]=Alterar a sua imagem de fundo para um papel de parede ou foto
Comment[pt_BR]=Altere sua imagem de fundo para um papel de parede ou uma foto
Comment[ru]=Изменить фоновое изображение на обои или фото
Comment[sk]=Mení vaše pozadie na tapetu alebo fotografiu
Comment[sl]=Spremeni ozadje na sliko namizja ali fotografijo
Comment[sr]=Измените слику позадине на тапет или фотографију
Comment[sr@latin]=Izmenite sliku pozadine na tapet ili fotografiju
Comment[sv]=Ändra din skrivbordsbakgrund till bakgrundsbild eller foto
Comment[ta]=உங்கள் பின்புலப் படத்தை வால்பேப்பர் அல்லது புகைப்படமாக மாற்றவும்
Comment[te]=మీ బ్యాక్‌గ్రౌండ్ చిత్రమును వాల్‌పేపర్ లేదా చిత్రమునకు మార్చండి
Comment[tg]=Тағйир додани тасвири пасзамина ба тасвири экран ё сурат
Comment[th]=เปลี่ยนภาพพื้นหลังของคุณเป็นลวดลายหรือภาพถ่าย
Comment[tr]=Arkaplan resminizi duvar kağıdıyla veya fotoğrafla değiştirin
Comment[uk]=Змінити малюнок тла на шпалери або фотографію
Comment[vi]=Thay đổi ảnh nền màn hình
Comment[zh_CN]=将您的背景图片改为一张壁纸或照片
Comment[zh_HK]=將你的背景影像更改為桌布或相片
Comment[zh_TW]=將您的背景影像變更為桌布或相片
Exec=gnome-control-center background
Icon=preferences-desktop-wallpaper
Terminal=false
Type=Application
NoDisplay=true
StartupNotify=true
Categories=GNOME;GTK;Settings;DesktopSettings;X-GNOME-Settings-Panel;X-GNOME-PersonalSettings;
OnlyShowIn=GNOME;
# Translators: those are keywords for the background control-center panel
Keywords=Wallpaper;Screen;Desktop;
Keywords[af]=Wallpaper;Screen;Desktop;agtergrond;werkskerm;muurpapier;
Keywords[an]=Fondo d'escritorio;Pantalla;Escritorio;
Keywords[ar]=خلفية;شاشة;سطح المكتب;
Keywords[as]=ৱালপেপাৰ;পৰ্দা;ডেস্কটপ;
Keywords[ast]=Fondu d'escritoriu;Pantalla;Escritoriu;
Keywords[be]=Абрус;Экран;Стол;
Keywords[bg]=Фон;Екран;Работен плот;Wallpaper;Screen;Desktop;
Keywords[bn]=ওয়ালপেপার;স্ক্রীন;ডেস্কটপ;
Keywords[bn_IN]=ওয়ালপেপার;স্ক্রীন;ডেস্কটপ;
Keywords[br]=Drekleur;Skramm;Burev
Keywords[ca]=Fons de pantalla;Pantalla;Escriptori;
Keywords[ca@valencia]=Fons de pantalla;Pantalla;Escriptori;
Keywords[crh]=Divar kâğıtı;Ekran;Masaüstü;
Keywords[cs]=tapeta;obrazovka;plocha;
Keywords[da]=Skrivebordsbaggrund;Skærm;Skrivebord;
Keywords[de]=Hintergrundbild;Bildschirm;Schreibtisch;
Keywords[el]=Ταπετσαρία;Οθόνη;Επιφάνεια εργασίας;Wallpaper;Screen;Desktop;
Keywords[en_GB]=Wallpaper;Screen;Desktop;
Keywords[eo]=Ekranfono;Ekrano;Labortablo;
Keywords[es]=Fondo de pantalla;Pantalla;Escritorio;
Keywords[et]=Taustapilt;Tapeet;Ekraan;Töölaud;
Keywords[eu]=Horma-papera;Pantaila;Mahaigaina;
Keywords[fa]=پس‌زمینه;صفحه‌نمایش;رومیزی;
Keywords[fi]=Taustakuva;Näyttö;Työpöytä;Wallpaper;Screen;Desktop;
Keywords[fr]=Papier peint;Écran;Bureau;
Keywords[ga]=Cúlbhrat;Scáileán;Deasc;
Keywords[gl]=Fondo de pantalla;Pantalla;Escritorio;
Keywords[gu]=વોલપેપર;સ્ક્રીન;ડેસ્કટોપ;
Keywords[he]=רקע;תמונת רקע;צג;מסך;
Keywords[hi]=वॉलपेपर; स्क्रीन; डेस्कटॉप;
Keywords[hu]=Háttérkép;Képernyő;Asztal;
Keywords[id]=Gambar latar;Layar;Desktop;
Keywords[it]=Rivestimento;Sfondo;Scrivania;Desktop;Wallpaper;
Keywords[ja]=Wallpaper;Screen;Desktop;壁紙;スクリーン;デスクトップ;
Keywords[kk]=Түсқағаз;Экран;Жұмыс үстелі;
Keywords[km]=ផ្ទាំង​រូបភាព អេក្រង់ ផ្ទៃតុ
Keywords[kn]=ವಾಲ್‌ಪೇಪರ್;ತೆರೆ;ಗಣಕತೆರೆ;
Keywords[ko]=Wallpaper;배경;Screen;화면;Desktop;바탕 화면;
Keywords[ku]=Kaxiza dîwar;Dîmender;Sermasê;
Keywords[ky]=Тушкагаз;Экран;Иштакта;
Keywords[lt]=Fonas;Ekranas;Darbastalis;
Keywords[lv]=Tapete;Ekrāns;Darbvirsma;Fons;Wallpaper;Screen;Desktop;
Keywords[mk]=Позадини;Екран;Работна површина;
Keywords[ml]=ചുമര്‍ചിത്രം;സ്ക്രീന്‍;പണിയിടം;
Keywords[mr]=वॉलपेपर;स्क्रीन;डेस्कटॉप;
Keywords[nb]=Bakgrunn;Skjerm;Skrivebord;
Keywords[ne]=वालपेपर;पर्दा;डेस्कटप
Keywords[nl]=Wallpaper;Screen;Desktop;Achtergrond;Scherm;Bureaublad;
Keywords[or]=ୱାଲପେପର;ପରଦା;ଡେସ୍କଟପ;
Keywords[pa]=ਵਾਲਪੇਪਰ;ਸਕਰੀਨ;ਡੈਸਕਟਾਪ;Wallpaper;Screen;Desktop;
Keywords[pl]=Tapeta;Ekran;Pulpit;
Keywords[pt]=Papel de Parede;Ecrã;Área de Trabalho;
Keywords[pt_BR]=Papel de parede;Tela;Área de trabalho;
Keywords[ro]=Wallpaper;Screen;Fundal;Ecran;Desktop;Monitor;Imagine;
Keywords[ru]=Обои;Экран;Рабочий;
Keywords[sk]=Tapeta;Obrazovka;Plocha;Pozadie
Keywords[sl]=Slika ozadja;Zaslon;Namizje
Keywords[sr]=позадина;екран;радна површ;
Keywords[sr@latin]=pozadina;ekran;radna površ;
Keywords[sv]=Skrivbordsbakgrund;Skärm;Skrivbord;
Keywords[ta]=சுவர்-காகிதங்கள் ;திரை;மேல்மேசை;
Keywords[te]=నేపథ్యచిత్రం;తెర;డెస్క్​టాప్;
Keywords[tg]=Тасвири экран;Экран;Мизи корӣ;
Keywords[th]=ภาพพื้นหลัง;หน้าจอ;พื้นโต๊ะ;
Keywords[tr]=Duvar kağıdı;Ekran;Masaüstü;
Keywords[ug]=Wallpaper;Screen;Desktop;تام قەغىزى;ئېكران;ئۈستەلئۈستى;
Keywords[uk]=Шпалери;Екран;Стільниця;
Keywords[vi]=Wallpaper;Ảnh;nền;Anh;nen;Screen;Màn;hình;Man;hinh;Desktop;
Keywords[zh_CN]=Wallpaper;Screen;Desktop;壁纸;墙纸;屏幕;桌面;背景;
Keywords[zh_HK]=Wallpaper;Screen;Desktop;桌布;螢幕;桌面;
Keywords[zh_TW]=Wallpaper;Screen;Desktop;桌布;螢幕;桌面;
