[Desktop Entry]
Name=Packages
Name[as]=পেকেইজসমূহ
Name[be]=Пакункі
Name[ca]=Paquets
Name[ca@valencia]=Paquets
Name[cs]=Balíčky
Name[da]=Pakker
Name[de]=Pakete
Name[el]=Πακέτα
Name[es]=Paquetes
Name[et]=Pakid
Name[eu]=Paketeak
Name[fi]=Paketit
Name[fr]=Paquets
Name[ga]=Pacáistí
Name[gl]=Paquetes
Name[gu]=પેકેજો
Name[hi]=संकुल
Name[hu]=Csomagok
Name[id]=Paket
Name[it]=Pacchetti
Name[ja]=パッケージ
Name[kn]=ಪ್ಯಾಕೇಜುಗಳು
Name[ko]=패키지
Name[lt]=Paketai
Name[lv]=Pakotnes
Name[mr]=संकुल
Name[ms]=Pakej
Name[nb]=Pakker
Name[ne]=प्याकेजहरु
Name[nl]=Pakketten
Name[pa]=ਪੈਕੇਜ
Name[pl]=Pakiety
Name[pt]=Pacotes
Name[pt_BR]=Pacotes
Name[ru]=Пакеты
Name[sk]=Balíky
Name[sl]=Paketi
Name[sr]=Пакети
Name[sr@latin]=Paketi
Name[ta]=தொகுப்புகள்
Name[tg]=Бастаҳо
Name[th]=เครื่องมือจัดการแพกเกจ
Name[tr]=Paketler
Name[uk]=Пакунки
Name[zh_CN]=软件包
Name[zh_HK]=軟件包
Name[zh_TW]=軟體包
Comment=Add or remove software installed on the system
Comment[af]=Voeg by of verwyder sagteware geïnstalleer op die stelsel
Comment[an]=Adhibir u sacar software instalau en o sistema
Comment[ar]=أضف أو أزل البرمجيات المثبتة على النظام
Comment[as]=চিস্টেমত ইনস্টল্ড চফ্টৱেৰ যোগ কৰক অথবা আতৰাওক
Comment[ast]=Amestar o quitar software instaláu nel sistema
Comment[be]=Дадаць ці выдаліць апраграмаванне, усталяванае ў сістэме
Comment[bg]=Инсталиране и деинсталиране на софтуер към системата
Comment[bn]=সিস্টেমে সফ্টওয়্যার যোগ করুন অথবা ইনস্টল করা সফ্টওয়্যার অপসারণ
Comment[bn_IN]=সিস্টেমে সফ্টওয়্যার যোগ করুন অথবা ইনস্টল করা সফ্টওয়্যার সরিয়ে ফেলুন
Comment[ca]=Afegeix o suprimeix programari instal·lat en el sistema
Comment[ca@valencia]=Afig o suprimeix programari instal·lat en el sistema
Comment[cs]=Přidávejte nebo odebírejte software instalovaný v systému
Comment[da]=Tilføj eller fjern software installeret på systemet
Comment[de]=Auf dem System installierte Software aktualisieren oder neue Software hinzufügen
Comment[el]=Προσθαφαίρεση λογισμικού στο σύστημα
Comment[en@shaw]=𐑨𐑛 𐑹 𐑮𐑦𐑥𐑵𐑝 𐑕𐑪𐑓𐑑𐑢𐑺 𐑦𐑯𐑕𐑑𐑷𐑤𐑛 𐑪𐑯 𐑞 𐑕𐑦𐑕𐑑𐑩𐑥
Comment[en_GB]=Add or remove software installed on the system
Comment[eo]=Aldoni aŭ forigi instalitan pogramaron sur via sistemo
Comment[es]=Añadir o quitar software instalado en el sistema
Comment[et]=Arvutisse paigaldatud tarkvara lisamine ja eemaldamine
Comment[eu]=Gehitu edo kendu sisteman instalatutako softwarea
Comment[fa]=حذف یا افزودن نرم‌افزارهای نصب شده بر روی این سیستم
Comment[fi]=Lisää tai poista järjestelmään asennettuja ohjelmistoja
Comment[fr]=Ajouter ou supprimer des logiciels installés sur le système
Comment[fur]=Zonte o gjave software instalât sul sisteme
Comment[ga]=Cuir bogearraí leis nó bain bogearraí atá suiteáilte ar an gcóras
Comment[gl]=Engadir ou desinstalar o software instalado no sistema
Comment[gu]=સિસ્ટમ પર સ્થાપિત થયેલ સોફ્ટવેરને ઉમેરો અથવા દૂર કરો
Comment[he]=הוספה או הסרה של יישומי המערכת
Comment[hi]=सिस्टम पर संस्थापित सॉफ्टवेयर जोड़ें या हटाएँ
Comment[hu]=Szoftverek rendszerre telepítése vagy eltávolítása
Comment[id]=Tambah atau hapus perangkat lunak yang terpasang pada sistem
Comment[it]=Aggiunge o rimuove software installato sul sistema
Comment[ja]=システムにインストールされたパッケージの追加と削除
Comment[kn]=ಗಣಕಕ್ಕೆ ತಂತ್ರಾಂಶವನ್ನು ಸೇರಿಸು ಅಥವ ಅನುಸ್ಥಾಪಿತಗೊಂಡಿರುವುದನ್ನು ತೆಗೆದು ಹಾಕು
Comment[ko]=시스템에 설치하는 소프트웨어를 추가하거나 제거합니다
Comment[lt]=Įdiegti ar šalinti sistemoje įdiegtą programinę įrangą
Comment[lv]=Pievienot vai izņemt programmatūru sistēmā
Comment[mk]=Инсталирајте или избришете софтвер на системот
Comment[ml]=സിസ്റ്റത്തില്‍ ഇന്‍സ്റ്റോള്‍ ചെയ്തിരിക്കുന്ന സോഫ്റ്റ്‌വെയര്‍ ചേര്‍ക്കുക അല്ലെങ്കില്‍ നീക്കം ചെയ്യുക
Comment[mr]=प्रणालीवर प्रतिष्ठापीत सॉफ्टवेअर समावेष करा किंवा काढूण टाका
Comment[ms]=Menambah atau memadam perisian yang dipasang pada sistem
Comment[nb]=Legg til eller fjern programvare på systemet
Comment[nl]=Software installeren op, of verwijderen van het systeem
Comment[nn]=Legg til eller fjern programvare som er installert på systemet
Comment[or]=ତନ୍ତ୍ରରେ ସ୍ଥାପିତ ସଫ୍ଟୱେରରେ ଯୋଗକରନ୍ତୁ କିମ୍ବା କାଢ଼ି ଦିଅନ୍ତୁ
Comment[pa]=ਸਿਸਟਮ ਉੱਤੇ ਸਾਫਟਵੇਅਰ ਇੰਸਟਾਲ ਕਰੋ ਜਾਂ ਇੰਸਟਾਲ ਕੀਤੇ ਹਟਾਓ
Comment[pl]=Instalowanie lub usuwanie oprogramowania zainstalowanego w systemie
Comment[pt]=Adicionar ou remover software instalado no sistema
Comment[pt_BR]=Adicione ou remova programas instalados no sistema
Comment[ro]=Adăugați sau ștergeți programe instalate pe sistem
Comment[ru]=Установка и удаление программ, установленных в системе
Comment[sk]=Pridáva alebo odstraňuje softvér nainštalovaný v systéme
Comment[sl]=Nameščanje in odstranjevanje programske opreme sistema
Comment[sr]=Додајте или уклоните програме инсталиране на овом систему
Comment[sr@latin]=Dodajte ili uklonite programe instalirane na ovom sistemu
Comment[sv]=Lägg till eller ta bort programvara installerad på systemet
Comment[ta]=கணினியில் நிறுவப்பட்ட மென்பொருளை சேர்க்கவும் அல்லது நீக்கவும்
Comment[te]=ఈ వ్యవస్థ నందు స్థాపించిన సాఫ్ట్‍వేర్‌ను జతచేయి లేదా తీసివేయి
Comment[tg]=Илова ва тоза кадани нармафзори насбшуда дар система
Comment[th]=เพิ่มหรือลบซอฟต์แวร์ที่ติดตั้งในระบบ
Comment[tr]=Sisteminizde yüklü yazılımları ekleyin veya kaldırın
Comment[ug]=سىستېمىڭىزغا ئورنىتىلغان يۇمشاق دېتاللارنى قوشىدۇ ياكى ئۆچۈرىدۇ
Comment[uk]=Встановлення та вилучення програм у системі
Comment[vi]=Thêm hoặc gỡ phần mềm cài đặt trên hệ thống
Comment[zh_CN]=添加或移除系统中安装的软件
Comment[zh_HK]=加入或移除系統上安裝的軟件
Comment[zh_TW]=加入或移除系統上安裝的軟體
Icon=system-software-install
Exec=gpk-application
Terminal=false
Type=Application
Categories=GNOME;GTK;System;Settings;PackageManager;
Keywords=Updates;Upgrade;Sources;Repositories;Preferences;Install;Store;
Keywords[an]=Actualizacions;esviellar;Fuents;Repositorios;Preferencias;Instalar;alzar;
Keywords[as]=আপডেইটসমূহ;উন্নয়ন;উৎসসমূহ;ভঁৰালসমূহ;পছন্দসমূহ;ইনস্টল;সংৰক্ষণ;
Keywords[be]=Абнаўленне;Абноўкі;Крыніцы;Сховішчы;Настройкі;Усталяванне;
Keywords[bg]=обновяване;обновления;версия;пакет;хранилище;инсталиране;нов;програми;приложения;Updates;Upgrade;Sources;Repositories;Preferences;Install;Store;
Keywords[bn_IN]=অাপডেট;অাপগ্রেড;সোর্স;সংগ্রহস্থল;অগ্রাধিকার;ইনস্টল;সঞ্চয়;
Keywords[ca]=Actualitzacions;Millores;Fonts;Dipòsits;Preferències;Instal·lació;Botiga;
Keywords[ca@valencia]=Actualitzacions;Millores;Fonts;Dipòsits;Preferències;Instal·lació;Botiga;
Keywords[cs]=aktualizace;aktualizovat;povýšení;povýšit;zdroje;repozitáře;předvolby;instalovat;instalace;úložiště;
Keywords[da]=Opdateringer;Opgrader;Opgradering;Kilder;Pakkearkiver;Arkiver;Indstillinger;Installere;Installering;Forretning;Store;
Keywords[de]=Updates;Aktualisierungen;Upgrades;Quellen;Softwarequellen;Einstellungen;Installieren;Store;
Keywords[el]=ενημερώσεις;αναβάθμιση;πηγές;αποθετήρια;προτιμήσεις;εγκατάσταση;αποθήκευση;Updates;Upgrade;Sources;Repositories;Preferences;Install;Store;
Keywords[en_GB]=Updates;Upgrade;Sources;Repositories;Preferences;Install;Store;
Keywords[es]=Actualizaciones;Actualizar;Fuentes;Repositorios;Preferencias;Instalar;Guardar;
Keywords[et]=uuendused;allikad;repod;repositooriumid;eelistused;paigaldamine;installimine;installatsioon;pood;tarkvara;
Keywords[eu]=Eguneraketak;Bertsio-berritzea;Iturburuak;Biltegiak;Hobespenak;Instalatu;Gorde;
Keywords[fi]=Updates;Upgrade;Sources;Repositories;Preferences;Install;Store;Päivitykset;Päivitys;Lähde;Lähteet;Ohjelmalähteet;Ohjelmistolähteet;Asetukset;Asenna;Kauppa;
Keywords[fr]=Mises à jour;Mises à niveau;Sources;Dépôts;Préférences;Installation;Installer;Boutique;
Keywords[ga]=Nuashonruithe;Nuashonraigh;Foinsí;Stórtha;Sainroghanna;Suiteáil;Stóráil;
Keywords[gl]=Actualizacións;Anovar;Orixes;Repositorios;Preferenzas;Instalar;Tenda;
Keywords[gu]=સુધારા;સુધારો;સ્ત્રોત;રિપોઝીટરીઓ;પસંદગીઓ;સ્થાપન;સંગ્રહ;
Keywords[he]=עידכון;שידרוג;עדכון;שדרוג;מקורות;מאגרים;העדפות;התקנה;התקנות;חנות;
Keywords[hi]=अद्यतन;अपग्रेड;स्रोत;रिपॉजिटरी;प्राथमिकताएं;स्थापित;स्टोर;
Keywords[hu]=Frissítések;Frissítés;Források;Tárolók;Tulajdonságok;Telepítés;Szoftverbolt;
Keywords[id]=Pemutakhiran;Peningkatan;Sumber;Repositori;Preferensi;Pasang;Toko;
Keywords[it]=Aggiornamenti;Avanzamento;Sorgenti;Repository;Preferenze;Installa;Negozio;
Keywords[ja]=Updates;Upgrade;Sources;Repositories;Preferences;Install;Store;アップデート;アップグレード;更新;ソース;リポジトリ;レポジトリ;設定;インストール;ストア;Software;package;パッケージ;
Keywords[kn]=ಅಪ್‌ಡೇಟ್‌ಗಳು;ನವೀಕರಣಗಳು;ಆಕರಗಳು;ರೆಪೊಸಿಟರಿಗಳು;ಆದ್ಯತೆಗಳು;ಅನುಸ್ಥಾಪನೆ;ಶೇಖರಣೆ;
Keywords[ko]=Updates;업데이트;Upgrade;업그레이드;Sources;공급원;Repositories;저장소;Preferences;설정;Install;설치;Store;마켓;스토어;
Keywords[lt]=Atnaujinimai;Šaltiniai;Saugyklos;Nustatymai;Įdiegti;
Keywords[lv]=Atjauninājumi;Uzlabojumi;Avoti;Krātuves;Repozitoriji;Iestatījumi;Instalēt;Uzstādīt;
Keywords[ml]=Updates;Upgrade;Sources;Repositories;Preferences;Install;Store;
Keywords[mr]=अपडेट्स;अपग्रेड;सोअर्सेस;रेपॉजिटरिज;प्रेफरेंसेस;इंस्टॉल;स्टोर;
Keywords[nb]=Oppdateringer;Oppgradering;Kilder;Lagre;Brukervalg;Installasjon;Lager;
Keywords[nl]=Updates;Upgrade;Sources;Repositories;Preferences;Install;Store;Opwaardering;Broncode;Voorkeuren;Installeren;Winkel;
Keywords[or]=ଅଦ୍ୟତନ;ଉନ୍ନୟନ;ଉତ୍ସ;ରେପୋଜିଟୋରୀ;ପସନ୍ଦ;ସ୍ଥାପନ;ସଂରକ୍ଷଣ ସ୍ଥାନ;
Keywords[pa]=ਅੱਪਡੇਟ;ਸਰੋਤ;ਰਿਪੋਜ਼ਟਰੀ;ਪਸੰਦ,ਇੰਸਟਾਲ;ਸਟੋਰ;ਅੱਪਗਰੇਡ;Updates;Upgrade;Sources;Repositories;Preferences;Install;Store;
Keywords[pl]=Aktualizacje;Aktualizacja;Zaktualizuj;Źródła;Repozytoria;Preferencje;Instalacja;Deinstalacja;Dezinstalacja;Zainstaluj;Dodaj;Usuń;Sklep;Store;Market;Aplikacje;Programy;Pakiety;Paczki;Paczka;
Keywords[pt]=Atualizações;Atualizar;Fontes;Repositórios;Preferências;Instalar;Loja;
Keywords[pt_BR]=Atualizações;Atualizar;Fontes;Repositórios;Preferências;Instalar;Armazenar;
Keywords[ru]=Обновления;Источники;Репозитории;Параметры;Установка;Хранилище;
Keywords[sk]=Aktualizácie;Aktualizovať;Inštalovať;Nainštalovať;Zdroje;Repozitáre;Úložisko;Nastavenia;Nová verzia;Novú verziu;
Keywords[sl]=posodobitve;nadgradnja;viri;skladišča;možnosti;namestitev;nakupovanje;
Keywords[sr]=ажурирања;доградња;надоградња;извори;ризнице;поставке;инсталација;складиште;
Keywords[sr@latin]=ažuriranja;dogradnja;nadogradnja;izvori;riznice;postavke;instalacija;skladište;
Keywords[ta]=Updates;Upgrade;Sources;Repositories;Preferences;Install;Store;
Keywords[te]=నవీకరణలు;నవీకరించు;మూలాలు;రిపోజిటరీస్;అభీష్టాలు;సంస్థాపించు;నిల్వ;
Keywords[tg]=Навсозиҳо;Такмил;Манбаъҳо;Захирагоҳҳо;Хусусиятҳо;Насб кардан;Ҳифз кардан;
Keywords[th]=ปรับรุ่น;ซอร์ส;คลังแพกเกจ;ปรับแต่ง;ติดตั้ง;ร้าน;
Keywords[tr]=Güncellemeler;Yükseltme;Kaynaklar;Depolar;Tercihler;Kur;Mağaza;
Keywords[ug]=Updates;Upgrade;Sources;Repositories;Preferences;Install;Store;يېڭىلانمىلار;يۈكسەلدۈرۈش;مەنبەلەر;خەزىنىلەر;مايىللىقلار;ئورنىتىش;دۇكان;
Keywords[uk]=Оновлення;Джерело;Сховище;Параметри;Встановити;Зберегти;
Keywords[zh_CN]=Updates;Upgrade;Sources;Repositories;Preferences;Install;Store;更新;升级;源;库;仓库;首选项;偏好;安装;商店;
Keywords[zh_HK]=Updates;Upgrade;Sources;Repositories;Preferences;Install;Store;更新;升級;來源;套件庫;軟件庫;偏好設定;安裝;商店;
Keywords[zh_TW]=Updates;Upgrade;Sources;Repositories;Preferences;Install;Store;更新;升級;來源;套件庫;軟體庫;偏好設定;安裝;商店;
NotShowIn=KDE;
StartupNotify=true
X-GNOME-UsesNotifications=true
