
[Desktop Entry]
Encoding=UTF-8
Name=Mousepad
Name[ar]=لوحة الفارة
Name[cs]=Mousepad
Name[de]=Mousepad
Name[es]=Mousepad
Name[fr]=Mousepad
Name[hr]=Mousepad
Name[id]=Mousepad
Name[it]=Mousepad
Name[ja]=Mousepad
Name[ko]=마우스패드
Name[lt]=Mousepad
Name[pl]=Mousepad
Name[pt]=Mousepad
Name[pt_BR]=Mousepad
Name[ro]=Mousepad
Name[ru]=Mousepad
Name[sk]=Mousepad
Name[sr]=Мишоловка
Name[sv]=Mousepad
Name[ug]=Mousepad
Name[uk]=Mousepad
Name[zh_CN]=Mousepad
Name[zh_TW]=Mousepad
Comment=Simple Text Editor
Comment[ar]=محرر نصوص بسيط
Comment[cs]=Jednoduchý textový editor
Comment[de]=Einfacher Texteditor
Comment[es]=Simple editor de texto
Comment[fr]=Éditeur de texte simple
Comment[hr]=Jednostavni uređivač teksta
Comment[id]=Penyunting Teks Sederhana
Comment[it]=Semplice editor di testo
Comment[ja]=シンプルなテキストエディターです
Comment[ko]=단순한 문서 편집기
Comment[lt]=Paprastas teksto redaktorius
Comment[pl]=Zwykły edytor tekstu
Comment[pt]=Editor de texto simples
Comment[pt_BR]=Editor de Texto Simples
Comment[ro]=Un editor simplu de text
Comment[ru]=Простой текстовый редактор
Comment[sk]=Jednoduchý textový editor
Comment[sr]=Једноставан уређивач текста
Comment[sv]=Enkel textredigerare
Comment[ug]=ئاددىي تېكىست تەھرىرلىگۈ
Comment[uk]=Простий текстовий редактор
Comment[zh_CN]=简易文本编辑器
Comment[zh_TW]=簡易文字編輯程式
GenericName=Text Editor
GenericName[ar]=محرر نصوص
GenericName[cs]=Textový editor
GenericName[de]=Texteditor
GenericName[es]=Editor de texto
GenericName[fr]=Éditeur de texte
GenericName[hr]=Uređivač teksta
GenericName[id]=Penyunting Teks
GenericName[it]=Editor di Testo
GenericName[ja]=テキストエディター
GenericName[ko]=문서 편집기
GenericName[lt]=Teksto redaktorius
GenericName[pl]=Edytor tekstu
GenericName[pt]=Editor de texto
GenericName[pt_BR]=Editor de Texto
GenericName[ro]=Editor de text
GenericName[ru]=Текстовый редактор
GenericName[sk]=Textový editor
GenericName[sr]=Уређивач текста
GenericName[sv]=Textredigerare
GenericName[ug]=تېكىست تەھرىرلىگۈ
GenericName[uk]=Текстовий редактор
GenericName[zh_CN]=文本编辑器
GenericName[zh_TW]=文字編輯程式
Exec=mousepad %F
Icon=accessories-text-editor
Terminal=false
StartupNotify=true
Type=Application
Categories=Application;Utility;TextEditor;GTK;
MimeType=text/plain
