[Desktop Entry]
Name=OpenJDK Java 7 Policy Tool
Name[fi]=OpenJDK Java 7 - käytäntötyökalu
Comment=OpenJDK Java 7 Policy Tool
Comment[fi]=OpenJDK Java 7 - käytäntötyökalu
Exec=/usr/bin/policytool
Terminal=false
Type=Application
Icon=openjdk-7
Categories=Settings;
