[Desktop Entry]
Name=Steadyflow
GenericName=Download Manager
GenericName[ar]=مدير التّنزيل
GenericName[ast]=Alministrador de descargues
GenericName[be]=Кіраўнік запамповак
GenericName[bg]=Управление на изтеглянията
GenericName[bn]=ডাউনলোড ম্যানেজার
GenericName[ca]=Gestor de baixades
GenericName[cs]=Správce stahování
GenericName[de]=Download-Manager
GenericName[el]=Διαχειριστής λήψεων
GenericName[en_AU]=Download Manager
GenericName[en_CA]=Download Manager
GenericName[en_GB]=Download Manager
GenericName[eo]=Elŝutmastrumilo
GenericName[es]=Gestor de descargas
GenericName[et]=Allalaadimiste haldur
GenericName[eu]=Deskarga kudeatzailea
GenericName[fa]=مدیر بارگیری
GenericName[fi]=Lataushallinta
GenericName[fo]=Niðurtøku umsiting
GenericName[fr]=Gestionnaire de téléchargements
GenericName[gl]=Xestor de Descargas
GenericName[gu]=ડાઉનલોડ મેનેજર
GenericName[he]=מנהל הורדות
GenericName[hi]=डाउनलोड  प्रबंधक
GenericName[hr]=Upravitelj preuzimanja
GenericName[hu]=Letöltéskezelő
GenericName[it]=Gestore dei Download
GenericName[ja]=ダウンロードマネージャ
GenericName[ka]=ჩამოტვირთვების მმართველი
GenericName[ko]=다운로드 매니저
GenericName[lt]=Atsiuntimų tvarkyklė
GenericName[ml]=ഡൌണ്‍ലോഡ്  കാര്യസ്ഥന്‍
GenericName[ms]=Pengurus Muat Turun
GenericName[my]=ေဒါင္းေလာ့ မန္ေနဂ်ာ
GenericName[nb]=Nedlastingsbehandler
GenericName[nl]=Downloadbeheerder
GenericName[nn]=Nedlastingshandsamar
GenericName[pl]=Menedżer pobierania
GenericName[pt]=Gestor de Transferências
GenericName[pt_BR]=Gerenciador de download
GenericName[ro]=Administrator descărcări
GenericName[ru]=Диспетчер загрузок
GenericName[si]=බාගැනීම් කළමනාකරු
GenericName[sk]=Správca sťahovania
GenericName[sl]=Upravljalnik prejemov
GenericName[sr]=Менаџер преузимања
GenericName[sv]=Hämtningshanterare
GenericName[te]=దింపుకోలు నిర్వాహకము
GenericName[tr]=İndirme Yöneticisi
GenericName[uk]=Менеджер завантажень
GenericName[vi]=Trình quản lí tải về
GenericName[zh_CN]=下载管理器
GenericName[zh_TW]=下載管理員
X-GNOME-FullName=Steadyflow Download Manager
X-GNOME-FullName[ar]=متصرف التنزيلات Steadyflow
X-GNOME-FullName[ast]=Alministrador de descargues Steadyflow
X-GNOME-FullName[be]=Кіраўнік запамповак Steadyflow
X-GNOME-FullName[bg]=Управление на изтеглянията Steadyflow
X-GNOME-FullName[bn]=স্টেডিফ্লো ডাউনলোড ম্যানেজার
X-GNOME-FullName[ca]=Gestor de baixades Steadyflow
X-GNOME-FullName[cs]=Správce stahování Steadyflow
X-GNOME-FullName[de]=Steadyflow-Download-Manager
X-GNOME-FullName[el]=Διαχειριστής λήψεων Steadyflow
X-GNOME-FullName[en_AU]=Steadyflow Download Manager
X-GNOME-FullName[en_CA]=Steadyflow Download Manager
X-GNOME-FullName[en_GB]=Steadyflow Download Manager
X-GNOME-FullName[eo]=Steadyflow-elŝutmastrumilo
X-GNOME-FullName[es]=Gestor de descargas Steadyflow
X-GNOME-FullName[et]=Steadyflow Allalaadimishaldur
X-GNOME-FullName[eu]=Steadyflow deskarga kudeatzailea
X-GNOME-FullName[fa]=مدیر بارگیری Steadyflow
X-GNOME-FullName[fi]=Steadyflow-lataushallinta
X-GNOME-FullName[fo]=Steadyflow niðurtøku umsiting
X-GNOME-FullName[fr]=Gestionnaire de téléchargements Steadyflow
X-GNOME-FullName[gl]=Xestor de descargas do Steadyflow
X-GNOME-FullName[he]=מנהל ההורדות Steadyflow
X-GNOME-FullName[hi]=स्टैडीफ़्लो डाउनलोड प्रबंधक
X-GNOME-FullName[hr]=Steadyflow Upravitelj Preuzimanja
X-GNOME-FullName[hu]=Steadyflow Letöltéskezelő
X-GNOME-FullName[it]=Steadyflow Download Manager
X-GNOME-FullName[ja]=Steadyflow ダウンロードマネージャ
X-GNOME-FullName[ka]=ჩამოტვირთვების მმართველი Steadyflow
X-GNOME-FullName[ko]=Steadyflow 다운로드 매니저
X-GNOME-FullName[lt]=Steadyflow Atsiuntimų Tvarkyklė
X-GNOME-FullName[ml]=സ്റ്റെഡിഫ്ലോ ഡൌണ്‍ലോഡ് കാര്യസ്ഥന്‍
X-GNOME-FullName[ms]=Pengurus Muat Turun Steadyflow
X-GNOME-FullName[my]=Steadyflow ေဒါင္းေလာ့ မန္ေနဂ်ာ
X-GNOME-FullName[nb]=Steadyflow nedlastingsbehandler
X-GNOME-FullName[nl]=Steadyflow Downloadmanager
X-GNOME-FullName[nn]=Steadyflow Nedlastningshandsamar
X-GNOME-FullName[pl]=Menedżer pobierania Steadyflow
X-GNOME-FullName[pt]=Gestor de Transferências SteadyFlow
X-GNOME-FullName[pt_BR]=Gerenciador de download Steadyflow
X-GNOME-FullName[ro]=Administratorul de descărcări Steadyflow
X-GNOME-FullName[ru]=Диспетчер загрузок Steadyflow
X-GNOME-FullName[si]=Steadyflow බාගැනීම් කළමනාකරු
X-GNOME-FullName[sk]=Správca sťahovania Steadyflow
X-GNOME-FullName[sl]=Steadyflow upravljalnik prejemov
X-GNOME-FullName[sv]=Hämtningshanteraren Steadyflow
X-GNOME-FullName[te]=స్టడీఫ్లో దింపుకోలు నిర్వాహకము
X-GNOME-FullName[tr]=Steadyflow İndirme Yöneticisi
X-GNOME-FullName[uk]=Менеджер завантажень SteadyFlow
X-GNOME-FullName[vi]=Trình quản lí tải về Steadyflow
X-GNOME-FullName[zh_CN]=稳流 下载管理器
X-GNOME-FullName[zh_TW]=Steadyflow 下載管理員
Exec=steadyflow
Icon=steadyflow
Terminal=false
Type=Application
StartupNotify=true
Categories=GTK;Network;FileTransfer;
X-Ubuntu-Gettext-Domain=steadyflow
X-Ayatana-Desktop-Shortcuts=Add

[Add Shortcut Group]
Name=_Add download...
Name[ar]=أضف ملف للتحميل
Name[ast]=_Amestar descarga...
Name[be]=_Дадаць запампоўку...
Name[bg]=_Добавяне на изтегляне
Name[bn]=ডাউনলোড যোগ করুন... (_a)
Name[bs]=_Dodaj preuzimanje...
Name[ca]=_Afegeix baixada
Name[cs]=_Přidat stahování...
Name[de]=_Download hinzufügen...
Name[el]=_Προσθήκη λήψης...
Name[en_AU]=_Add download...
Name[en_CA]=_Add download...
Name[en_GB]=_Add download...
Name[es]=_Añadir descarga...
Name[et]=_Lisa allalaadimine...
Name[eu]=_Gehitu deskarga...
Name[fa]=افزودن بارگیری...
Name[fi]=_Lisää lataus...
Name[fo]=Legg niðurtøku _afturat...
Name[fr]=_Ajouter un téléchargement...
Name[gl]=_Engadir descarga...
Name[he]=_הוסף הורדה...
Name[hi]=_डाउनलोड जोड़ें ...
Name[hr]=_Dodaj preuzimanje...
Name[hu]=Hozzáadás a letöltéshez...
Name[it]=_Aggiungi download...
Name[ja]=ダウンロードの追加(_A)...
Name[ka]=ჩამოტვირთვის _დამატება
Name[ko]=_다운로드 추가...
Name[lt]=_Pridėti siuntinį
Name[ml]=_ഡൌണ്‍ലോഡ് ചേര്‍ക്കുക
Name[ms]=_Tambah muat turun...
Name[my]=_A ေဒါင္းေလာ့ ထပ္လုပ္ပါမည္။
Name[nb]=_Legg til nedlasting...
Name[nl]=Download _toevoegen...
Name[nn]=_Legg til nedlasting...
Name[pl]=_Dodaj zadanie...
Name[pt]=_Adicionar transferência...
Name[pt_BR]=_Adicionar download...
Name[ro]=_Adaugă descărcare
Name[ru]=_Добавить загрузку...
Name[sk]=Prid_ať sťahovanie...
Name[sl]=_Dodaj prejem ...
Name[sv]=_Lägg till hämtning...
Name[te]=దింపుకోలును జతచేయి...(_A)
Name[tr]=_İndirme ekle...
Name[uk]=Додати завантаження
Name[vi]=_Thêm tải về...
Name[zh_CN]=添加下载任务(_A)...
Name[zh_TW]=加入下載(_A)
Exec=steadyflow add %s
TargetEnvironment=Unity
