[Desktop Entry]
Name=Sysinfo
Comment=Display detailed computer/system information
Exec=sysinfo
Icon=computer
Terminal=false
Type=Application
Categories=GNOME;Utility;System;
