[Desktop Entry]
Name=Wammu
Name[el]=Wammu
Name[af]=Wammu
Name[ca]=Wammu
Name[it]=Wammu
Name[cs]=Wammu
Name[et]=Wammu
Name[id]=Wammu
Name[es]=Wammu
Name[ru]=Wammu
Name[nl]=Wammu
Name[tr]=Wammu
Name[en_GB]=Wammu
Name[fr]=Wammu
Name[bg]=Wammu
Name[pt_BR]=Wammu
Name[zh_TW]=Wammu
Name[hu]=Wammu
Name[fi]=Wammu
Name[da]=Wammu
Name[zh_CN]=Wammu
Name[ko]=Wammu
Name[sv]=Wammu
Name[sk]=Wammu
Name[de]=Wammu
Name[pl]=Wammu
Name[uk]=Wammu
GenericName=Mobile Phone Manager
GenericName[el]=Διαχειριστής Κινητού Τηλεφώνου
GenericName[ca]=Gestor del Telèfon Mòbil
GenericName[it]=Gestore di telefoni cellulari
GenericName[ar]=مدبر الهاتف المحمول
GenericName[cs]=Správce mobilního telefonu
GenericName[et]=Mobiiltelefoni haldur
GenericName[id]=Manajemen Ponsel
GenericName[es]=Gestor de teléfonos móviles
GenericName[ru]=Менеджер Мобильного Телефона
GenericName[nl]=Mobiele telefoonbeheerder
GenericName[tr]=Mobil Telefon Yöneticisi
GenericName[en_GB]=Mobile Phone Manager
GenericName[fr]=Gestionnaire de téléphone mobile
GenericName[bg]=Мениджър на мобилни телефони
GenericName[pt_BR]=Gerenciador Fone Móvel
GenericName[hu]=Mobiltelefon-kezelő
GenericName[zh_CN]=移动电话管理器
GenericName[sv]=Hanterare för mobiltelefoner
GenericName[sk]=Správca Mobilného Telefónu
GenericName[de]=Mobiltelefon-Manager
GenericName[pl]=Menedżer Telefonów Komórkowych
GenericName[uk]=Керування мобільними телефонами
Comment=Application for mobile phones - frontend for Gammu
Comment[el]=Εφαρμογή για κινητά τηλέφωνα - frontend for Gammu
Comment[it]=Applicazione per telefoni cellulari - interfaccia per Gammu
Comment[cs]=Aplikace pro práci s mobilními telefony - grafické rozhaní pro Gammu
Comment[et]=Programm mobiiltelefonidele - liides Gammule
Comment[id]=Aplikasi untuk ponsel - antarmuka untuk Gammu
Comment[es]=Aplicación para teléfonos móviles - Interfaz para Gammu
Comment[ru]=Приложение для мобильных телефонов - графический интерфейс Gammu
Comment[nl]=Programma voor mobiele telefoons - gebruikersinterface voor Gammu
Comment[tr]=Gammu tabanlı mobil telefon yöneticisi
Comment[en_GB]=Application for mobile phones - frontend for Gammu
Comment[fr]=Application pour téléphones mobiles - Interface pour Gammu
Comment[bg]=Приложение за мобилни телефони - графичен интерфейс за Gammu
Comment[pt_BR]=Aplicação para Fones Celulares - Interface para Gammu
Comment[hu]=Teljes körű program mobiltelefonok számára - Grafikus előtét a Gammu programhoz
Comment[zh_CN]=移动电话应用程序 - Gammu 的前端
Comment[sv]=Program för mobiltelefoner - klient för Gammu
Comment[sk]=Aplikácia pre mobilne telefóny - frontend pre Gammu
Comment[de]=Anwendung für Mobiltelefone - Oberfläche für Gammu
Comment[pl]=Aplikacja do obsługi telefonów komórkowych - nakładka graficzna dla Gammu
Comment[uk]=Керування мобільними телефонами (графічний інтерфейс для Gammu)
Keywords=phone;mobile;sms;contact;calendar;todo;
Keywords[el]=τηλέφωνο;κινητό;sms;επαφή;ημερολόγιο;ενέργεια;
Keywords[cs]=telefon;mobil;sms;kontakt;kalendář;úkol;
Keywords[et]=telefon;mobiiltelefon;sms;kontakt;kalender;ülesanded;
Keywords[es]=teléfono;móvil;sms;contacto;calendario;tareas;
Keywords[nl]=telefoon;GSM;SMS;contact;agenda;todo;
Keywords[tr]=telefon;mobil;sms;kişi;takvim;yapılacak;
Keywords[en_GB]=phone;mobile;sms;contact;calendar;todo;
Keywords[fr]=téléphone; mobile; sms; contact; calendrier; à faire;
Keywords[pt_BR]=telefone;móvel;sms;contatos;calendário;tarefas;
Keywords[zh_CN]=电话；手机；短信；联系人；日历；备忘录；
Keywords[sv]=telefon;mobil;sms;kontakter;kalender;todo;
Keywords[uk]=phone;mobile;sms;contact;calendar;todo;
Exec=wammu
Icon=wammu
Terminal=false
Type=Application
Categories=Utility;TelephonyTools;GTK;
